.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1440px) {
  .root {
    display: flex;
    flex-direction: row;
  }
}
.row {
  background: rgba(46, 87, 116, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (max-width: 1440px) {
  .row {
    justify-content: flex-start;
    align-items: center;
  }
}
.frame2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1320px;
  min-width: 0;
}
.frame2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 70px);
  width: calc(100% + 70px);
}
.frame2 > :global(.__wab_flex-container) > *,
.frame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2 > :global(.__wab_flex-container) > picture > img,
.frame2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 70px;
}
@media (max-width: 1440px) {
  .frame2 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1440px) {
  .frame2 > :global(.__wab_flex-container) > *,
  .frame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame2 > :global(.__wab_flex-container) > picture > img,
  .frame2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.column {
  background: none;
  width: 586px;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1440px) {
  .column {
    width: 40%;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.frame3 {
  width: 610px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
  flex-shrink: 0;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 1440px) {
  .frame3 {
    align-self: auto;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1440px) {
  .frame3 > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: center;
  }
}
.frame4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame4 > :global(.__wab_flex-container) > *,
.frame4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4 > :global(.__wab_flex-container) > picture > img,
.frame4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__toxqM {
  display: block;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 44px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text__uzl31 {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.frame5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-top: 0px;
}
.frame5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.frame5 > :global(.__wab_flex-container) > *,
.frame5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5 > :global(.__wab_flex-container) > picture > img,
.frame5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.asshButton:global(.__wab_instance) {
  max-width: 100%;
}
