.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.exploreDropdown {
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  left: 0;
  top: 0;
  z-index: 1;
  background: var(--token-YOr-x91EUcQe);
  margin-top: 40px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 32px;
}
.exploreDropdown > * {
  grid-column: 4;
}
.closeLink {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 64px;
  max-width: 100%;
  left: auto;
  top: 0px;
  z-index: 1;
  color: #ffffff;
  right: 0;
  padding: 32px;
}
.closeIcon2 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.freeBox__cYsOw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-TYi5l69jClib);
}
.freeBox__khyvk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.itemMenuLinkItem:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__rLmTt {
  position: sticky;
  background: var(--token-nOBcGT_YRXnw);
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 40px;
  width: 100%;
  flex-direction: column;
  display: flex;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rLmTt {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.topBar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: var(--token-8wveXV1OiqVh);
  min-width: 0;
  min-height: 0;
}
.topBarExplore {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.menuExploreAsshDropdown:global(.__wab_instance) {
  height: 40px;
  width: auto;
}
.freeBox__tFrcH {
  position: relative;
  background: var(--token-TYi5l69jClib);
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  flex-direction: column;
  display: flex;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tFrcH {
    height: 80px;
    flex-shrink: 0;
    padding: 0px 16px;
  }
}
.logoBar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: var(--token-8wveXV1OiqVh);
  min-width: 0;
  min-height: 0;
}
.logoBarLeft {
  display: flex;
  position: relative;
  width: auto;
  flex-shrink: 1;
  flex-direction: row;
}
.exploreAsshDropdownButton3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  flex-shrink: 1;
}
.hands {
  object-fit: cover;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.hands > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .hands {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .hands {
    width: auto;
  }
}
.img {
  object-fit: cover;
  height: 40px;
  object-position: left 50%;
  margin-left: 8px;
}
.img > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
@media (max-width: 1024px) {
  .img {
    height: 30px;
  }
}
@media (max-width: 414px) {
  .img {
    height: auto;
    display: none;
  }
}
.logoBarRight {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  min-width: 0;
}
.freeBox__cu0Vu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  min-width: 0;
}
.foundationLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.foundation {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-py5R6wetCsNw);
  font-size: var(--token-qf646Y0_UpwA);
}
.menuBar {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  height: var(--token-SZ0Fw9xCupc1);
  background: var(--token-H7ML1IxERkQO);
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar > * {
  grid-column: 4;
}
.memberDirectoryLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.memberDirectory {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-py5R6wetCsNw);
  font-size: var(--token-qf646Y0_UpwA);
}
.menuBar2 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  height: var(--token-SZ0Fw9xCupc1);
  background: var(--token-H7ML1IxERkQO);
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar2 > * {
  grid-column: 4;
}
.storeLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg___0Ne4T {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  margin-right: 4px;
  height: 1em;
}
.store {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-py5R6wetCsNw);
  font-size: var(--token-qf646Y0_UpwA);
}
.rightButtons {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  flex-shrink: 0;
  flex-grow: 0;
}
.rightButtons > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.rightButtons > :global(.__wab_flex-container) > *,
.rightButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rightButtons > :global(.__wab_flex-container) > picture > img,
.rightButtons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.buttonPrimary:global(.__wab_instance) {
  max-width: 100%;
}
.itemMenuCurrentUser:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg___7XKF {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__osXmC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-C5aY7m0H85JJ);
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__n0JBv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-TYi5l69jClib);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n0JBv {
    display: none;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  max-width: 1440px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___5HOcV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  align-self: center;
  min-width: 0;
}
.educationLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__lVnas {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-H7ML1IxERkQO);
  font-size: var(--token-S4uXlc6hSXcG);
  font-weight: 600;
}
.svg__sXf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  height: 1em;
}
.membershipLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__s1NL1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-H7ML1IxERkQO);
  font-size: var(--token-S4uXlc6hSXcG);
  font-weight: 600;
}
.svg__xFppu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  height: 1em;
}
.meetingsLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___11EWk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-H7ML1IxERkQO);
  font-size: var(--token-S4uXlc6hSXcG);
  font-weight: 600;
}
.svg__jFiG {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  height: 1em;
}
.advocacyLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__dr5S5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-H7ML1IxERkQO);
  font-size: var(--token-S4uXlc6hSXcG);
  font-weight: 600;
}
.svg___6Wvjb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  height: 1em;
}
.researchLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___0RLf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-H7ML1IxERkQO);
  font-size: var(--token-S4uXlc6hSXcG);
  font-weight: 600;
}
.svg___5EOJj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  height: 1em;
}
.newsLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__dF2E6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-H7ML1IxERkQO);
  font-size: var(--token-S4uXlc6hSXcG);
  font-weight: 600;
}
.svg__q2M {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  height: 1em;
}
.aboutLink {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__cofx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-H7ML1IxERkQO);
  font-size: var(--token-S4uXlc6hSXcG);
  font-weight: 600;
}
.svg__cPbUr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  height: 1em;
}
.resourcesDropdown {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: var(--token-_oibR2YYXaCj);
  min-height: 0;
  padding: 8px;
}
.text___9LjH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  color: var(--token-H7ML1IxERkQO);
  font-size: var(--token-S4uXlc6hSXcG);
  font-weight: 600;
}
.svg__tKa {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-H7ML1IxERkQO);
  height: 1em;
}
.freeBox___2OUk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-C5aY7m0H85JJ);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 64px;
}
