@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C600%3B1%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Manrope%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&display=swap");

.plasmic_tokens {
  --token-lJvlCWpx5zk3: #1f3b55;
  --plasmic-token-brand-primary: var(--token-lJvlCWpx5zk3);
  --token-aj9zmKZf9Zw1: 0.5rem;
  --plasmic-token-size-8: var(--token-aj9zmKZf9Zw1);
  --token-yFefbd9pktQO: Nunito Sans;
  --plasmic-token-sans-serif: var(--token-yFefbd9pktQO);
  --token-qf646Y0_UpwA: 1rem;
  --plasmic-token-font-md: var(--token-qf646Y0_UpwA);
  --token-Y-b2LrU_Kywe: 1.25;
  --plasmic-token-line-height-md: var(--token-Y-b2LrU_Kywe);
  --token-SHYrfqQuFlWP: 0.375rem;
  --plasmic-token-size-6: var(--token-SHYrfqQuFlWP);
  --token-TROFjE1BB1lj: #374151;
  --plasmic-token-neutral-neutral: var(--token-TROFjE1BB1lj);
  --token--puoKdvmitOp: #dc2626;
  --plasmic-token-destructive-destructive: var(--token--puoKdvmitOp);
  --token-Evr0qSJIWgsD: #6b7280;
  --plasmic-token-muted-muted: var(--token-Evr0qSJIWgsD);
  --token-jxIU7gj0Obw0: 0.25rem;
  --plasmic-token-size-4: var(--token-jxIU7gj0Obw0);
  --token-w4XpMh5FwwhH: 0.75rem;
  --plasmic-token-font-sm: var(--token-w4XpMh5FwwhH);
  --token-KvC-gBHiAPNQ: 1;
  --plasmic-token-line-height-sm: var(--token-KvC-gBHiAPNQ);
  --token-S4uXlc6hSXcG: 1.25rem;
  --plasmic-token-font-lg: var(--token-S4uXlc6hSXcG);
  --token-C6KiFdxmKpLH: 1.4;
  --plasmic-token-line-height-lg: var(--token-C6KiFdxmKpLH);
  --token-Z1eXSS0i1an-: 0.125rem;
  --plasmic-token-size-2: var(--token-Z1eXSS0i1an-);
  --token-T15kOSh3rnOH: #16a34a;
  --plasmic-token-success-success: var(--token-T15kOSh3rnOH);
  --token-BT2V6JUjUzh_: #facc15;
  --plasmic-token-warning-warning: var(--token-BT2V6JUjUzh_);
  --token-AKeYDy8WJ4OA: #3f5266;
  --plasmic-token-brand-secondary: var(--token-AKeYDy8WJ4OA);
  --token-2cVQWFukhMFM: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-2cVQWFukhMFM);
  --token-P5YvYNwQ1m-E: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-P5YvYNwQ1m-E);
  --token-UPl_OJidIGte: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-UPl_OJidIGte);
  --token-Z7SkNXL16Oks: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-Z7SkNXL16Oks);
  --token-wR8wWdHssoR7: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-wR8wWdHssoR7);
  --token-YEM_8Hl1ETWH: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-YEM_8Hl1ETWH);
  --token-lyFtE1ZGJErX: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-lyFtE1ZGJErX);
  --token-n2CcVpC7gM4C: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-n2CcVpC7gM4C);
  --token-4kl2XAxuH0d3: #86efac;
  --plasmic-token-success-success-border: var(--token-4kl2XAxuH0d3);
  --token-h6Wlsjq6RhGt: #fde047;
  --plasmic-token-warning-warning-border: var(--token-h6Wlsjq6RhGt);
  --token-96bZ1G6EF7y3: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-96bZ1G6EF7y3);
  --token-7qgnvXyYeNZi: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-7qgnvXyYeNZi);
  --token-MboIo0k13NGl: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-MboIo0k13NGl);
  --token-E17r_-y8Rz26: #00000033;
  --plasmic-token-interaction-pressed: var(--token-E17r_-y8Rz26);
  --token-mj_AjoGEZNER: 0.625rem;
  --plasmic-token-size-10: var(--token-mj_AjoGEZNER);
  --token-UB4Da_pV1KNO: 0.75rem;
  --plasmic-token-size-12: var(--token-UB4Da_pV1KNO);
  --token-0VMIvMzXAOJQ: #f7f7f1;
  --plasmic-token-brand-tertiary: var(--token-0VMIvMzXAOJQ);
  --token-k3nHXM93VzWY: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-k3nHXM93VzWY);
  --token-OVBJtx4PmDq8: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-OVBJtx4PmDq8);
  --token-VjzaI_xYpPFy: #344455;
  --plasmic-token-brand-footer: var(--token-VjzaI_xYpPFy);
  --token-IotW9Ekf-xiL: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-IotW9Ekf-xiL);
  --token-bvxFjud3fFrE: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-bvxFjud3fFrE);
  --token-wMCU4WDlFfZ3: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-wMCU4WDlFfZ3);
  --token-giHd0igRQhY7: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-giHd0igRQhY7);
  --token-uHMFLacWH-hY: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-uHMFLacWH-hY);
  --token-6wvvoe7Xh2eE: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-6wvvoe7Xh2eE);
  --token-NkRTO5RKNDv6: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-NkRTO5RKNDv6);
  --token-i3dXxOfTJEN1: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-i3dXxOfTJEN1
  );
  --token-YLYGEwd03pX3: #ffffff;
  --plasmic-token-brand-background: var(--token-YLYGEwd03pX3);
  --token-m1l75Yxvu3a4: #777777;
  --plasmic-token-brand-secondary-text: var(--token-m1l75Yxvu3a4);
  --token-Xe8lteZ1g5Sn: #d1d5db;
  --plasmic-token-basic-border: var(--token-Xe8lteZ1g5Sn);
  --token--2PVOQbeQHjD: #2563eb;
  --plasmic-token-brand-brand: var(--token--2PVOQbeQHjD);
  --token-VSAMMlvL4Pr5: #6b7280e6;
  --plasmic-token-basic-text-secondary: var(--token-VSAMMlvL4Pr5);
  --token-5xttW50XWM9A: 1rem;
  --plasmic-token-size-16: var(--token-5xttW50XWM9A);
  --token-H7ML1IxERkQO: #030712;
  --plasmic-token-basic-text-primary: var(--token-H7ML1IxERkQO);
  --token-TYi5l69jClib: #ffffff;
  --plasmic-token-basic-container-background: var(--token-TYi5l69jClib);
  --token-JanH8xVylXSa: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-JanH8xVylXSa);
  --token-8zThBbIR5J64: #444444;
  --plasmic-token-brand-body: var(--token-8zThBbIR5J64);
  --token-1IcO-H45o6KD: #f7f7f1;
  --plasmic-token-unnamed-style-token: var(--token-1IcO-H45o6KD);
  --token-0KE0JP3HXDIK: #252539e6;
  --plasmic-token-brand-blue-four: var(--token-0KE0JP3HXDIK);
  --token-udDx6ounMwJX: 2rem;
  --plasmic-token-size-32: var(--token-udDx6ounMwJX);
  --token-pL_SCUeaImzE: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-pL_SCUeaImzE);
  --token-sf-V7lIO1qMk: #e2e2e2;
  --plasmic-token-grey-line: var(--token-sf-V7lIO1qMk);
  --token-MWXy42KlwcxF: #ffffff;
  --plasmic-token-unnamed-style-token-2: var(--token-MWXy42KlwcxF);
  --token-8wveXV1OiqVh: 1440px;
  --plasmic-token-max-width: var(--token-8wveXV1OiqVh);
  --token-nOBcGT_YRXnw: var(--token-lJvlCWpx5zk3);
  --plasmic-token-assh-blue-primary: var(--token-nOBcGT_YRXnw);
  --token-Hivuri5dcJVd: #2e5774f2;
  --plasmic-token-assh-blue-secondary: var(--token-Hivuri5dcJVd);
  --token-YOr-x91EUcQe: #008e84;
  --plasmic-token-assh-teel-highlight: var(--token-YOr-x91EUcQe);
  --token-WpPBw5f93wEg: #839a43;
  --plasmic-token-assh-green-highlight: var(--token-WpPBw5f93wEg);
  --token-uL1sv1Zh_egs: #ffffff;
  --plasmic-token-unnamed-style-token-3: var(--token-uL1sv1Zh_egs);
  --token-py5R6wetCsNw: #313337;
  --plasmic-token-assh-text-body: var(--token-py5R6wetCsNw);
  --token-_oibR2YYXaCj: #d4dac4;
  --plasmic-token-assh-secondary-bg: var(--token-_oibR2YYXaCj);
  --token-xsG_xbZGoa6L: 1.5rem;
  --plasmic-token-font-xl: var(--token-xsG_xbZGoa6L);
  --token-OJZmlTTUAzT0: 5px;
  --plasmic-token-button-corner-radius: var(--token-OJZmlTTUAzT0);
  --token-_TYCB_pYxuq0: #ffffff;
  --plasmic-token-unnamed-style-token-4: var(--token-_TYCB_pYxuq0);
  --token-C5aY7m0H85JJ: #d6dbe0;
  --plasmic-token-assh-grey-bar: var(--token-C5aY7m0H85JJ);
  --token-dhz6eQ3B9RE7: #d6dbe0;
  --plasmic-token-assh-grey-bg: var(--token-dhz6eQ3B9RE7);
  --token-SZ0Fw9xCupc1: var(--antd-margin);
  --plasmic-token-system-margin-m: var(--token-SZ0Fw9xCupc1);
  --token-su3a1cgfgi_y: #b8d8d5;
  --plasmic-token-assh-secondary-tint: var(--token-su3a1cgfgi_y);
  --token-suq4UeRS5JaX: #787878;
  --plasmic-token-assh-grey-two: var(--token-suq4UeRS5JaX);
  --token-Ct3NTpx85r8d: 70px;
  --plasmic-token-unnamed-style-token-5: var(--token-Ct3NTpx85r8d);
  --token-XTtGF6uDHM3z: #f4f4eb;
  --plasmic-token-assh-triary-bg: var(--token-XTtGF6uDHM3z);
  --token-j3urVBXa9jtJ: var(--token-YOr-x91EUcQe);
  --plasmic-token-assh-link: var(--token-j3urVBXa9jtJ);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-uKBRGoGvfMDm_font-family: "Nunito Sans", sans-serif;
  --mixin-uKBRGoGvfMDm_font-size: 16px;
  --mixin-uKBRGoGvfMDm_font-weight: 400;
  --mixin-uKBRGoGvfMDm_font-style: normal;
  --mixin-uKBRGoGvfMDm_color: #444444;
  --mixin-uKBRGoGvfMDm_text-align: left;
  --mixin-uKBRGoGvfMDm_text-transform: none;
  --mixin-uKBRGoGvfMDm_line-height: 1.5;
  --mixin-uKBRGoGvfMDm_letter-spacing: normal;
  --mixin-uKBRGoGvfMDm_white-space: pre-wrap;
  --mixin-uKBRGoGvfMDm_user-select: text;
  --mixin-uKBRGoGvfMDm_text-decoration-line: none;
  --mixin-uKBRGoGvfMDm_text-overflow: clip;
  --mixin-ZjowoO_o0m05_color: #000000;
  --mixin-ZjowoO_o0m05_font-weight: 700;
  --mixin-ZjowoO_o0m05_font-size: 64px;
  --mixin-ZjowoO_o0m05_line-height: 1;
  --mixin-ZjowoO_o0m05_letter-spacing: -1px;
  --mixin-ZjowoO_o0m05_white-space: pre-wrap;
  --mixin-ly10glyjvpWS_color: #000000;
  --mixin-ly10glyjvpWS_font-size: 48px;
  --mixin-ly10glyjvpWS_font-weight: 700;
  --mixin-ly10glyjvpWS_letter-spacing: -0.5px;
  --mixin-ly10glyjvpWS_line-height: 1.1;
  --mixin-ly10glyjvpWS_white-space: pre-wrap;
  --mixin-5joBE2nekiwK_color: #0070f3;
  --mixin-5joBE2nekiwK_white-space: pre-wrap;
  --mixin-85b2v-oB74Vi_color: #000000;
  --mixin-85b2v-oB74Vi_font-size: 32px;
  --mixin-85b2v-oB74Vi_font-weight: 600;
  --mixin-85b2v-oB74Vi_line-height: 1.2;
  --mixin-85b2v-oB74Vi_white-space: pre-wrap;
  --mixin-_C6jIpiEhrY-_color: #000000;
  --mixin-_C6jIpiEhrY-_font-size: 24px;
  --mixin-_C6jIpiEhrY-_font-weight: 600;
  --mixin-_C6jIpiEhrY-_line-height: 1.3;
  --mixin-_C6jIpiEhrY-_white-space: pre-wrap;
  --mixin-D52UenyJRC0V_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-D52UenyJRC0V_border-bottom-color: #dddddd;
  --mixin-D52UenyJRC0V_border-bottom-style: solid;
  --mixin-D52UenyJRC0V_border-bottom-width: 1px;
  --mixin-D52UenyJRC0V_border-left-color: #dddddd;
  --mixin-D52UenyJRC0V_border-left-style: solid;
  --mixin-D52UenyJRC0V_border-left-width: 1px;
  --mixin-D52UenyJRC0V_border-right-color: #dddddd;
  --mixin-D52UenyJRC0V_border-right-style: solid;
  --mixin-D52UenyJRC0V_border-right-width: 1px;
  --mixin-D52UenyJRC0V_border-top-color: #dddddd;
  --mixin-D52UenyJRC0V_border-top-style: solid;
  --mixin-D52UenyJRC0V_border-top-width: 1px;
  --mixin-D52UenyJRC0V_border-bottom-left-radius: 3px;
  --mixin-D52UenyJRC0V_border-bottom-right-radius: 3px;
  --mixin-D52UenyJRC0V_border-top-left-radius: 3px;
  --mixin-D52UenyJRC0V_border-top-right-radius: 3px;
  --mixin-D52UenyJRC0V_font-family: "Inconsolata";
  --mixin-D52UenyJRC0V_padding-bottom: 1px;
  --mixin-D52UenyJRC0V_padding-left: 4px;
  --mixin-D52UenyJRC0V_padding-right: 4px;
  --mixin-D52UenyJRC0V_padding-top: 1px;
  --mixin-D52UenyJRC0V_white-space: pre-wrap;
  --mixin-aiXMUzRTWiZr_border-left-color: #dddddd;
  --mixin-aiXMUzRTWiZr_border-left-style: solid;
  --mixin-aiXMUzRTWiZr_border-left-width: 3px;
  --mixin-aiXMUzRTWiZr_color: #888888;
  --mixin-aiXMUzRTWiZr_padding-left: 10px;
  --mixin-aiXMUzRTWiZr_white-space: pre-wrap;
  --mixin-NVWDRkZDwpJk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-NVWDRkZDwpJk_border-bottom-color: #dddddd;
  --mixin-NVWDRkZDwpJk_border-bottom-style: solid;
  --mixin-NVWDRkZDwpJk_border-bottom-width: 1px;
  --mixin-NVWDRkZDwpJk_border-left-color: #dddddd;
  --mixin-NVWDRkZDwpJk_border-left-style: solid;
  --mixin-NVWDRkZDwpJk_border-left-width: 1px;
  --mixin-NVWDRkZDwpJk_border-right-color: #dddddd;
  --mixin-NVWDRkZDwpJk_border-right-style: solid;
  --mixin-NVWDRkZDwpJk_border-right-width: 1px;
  --mixin-NVWDRkZDwpJk_border-top-color: #dddddd;
  --mixin-NVWDRkZDwpJk_border-top-style: solid;
  --mixin-NVWDRkZDwpJk_border-top-width: 1px;
  --mixin-NVWDRkZDwpJk_border-bottom-left-radius: 3px;
  --mixin-NVWDRkZDwpJk_border-bottom-right-radius: 3px;
  --mixin-NVWDRkZDwpJk_border-top-left-radius: 3px;
  --mixin-NVWDRkZDwpJk_border-top-right-radius: 3px;
  --mixin-NVWDRkZDwpJk_font-family: "Inconsolata";
  --mixin-NVWDRkZDwpJk_padding-bottom: 3px;
  --mixin-NVWDRkZDwpJk_padding-left: 6px;
  --mixin-NVWDRkZDwpJk_padding-right: 6px;
  --mixin-NVWDRkZDwpJk_padding-top: 3px;
  --mixin-NVWDRkZDwpJk_white-space: pre-wrap;
  --mixin-7kTDzzFvr-nV_display: flex;
  --mixin-7kTDzzFvr-nV_flex-direction: column;
  --mixin-7kTDzzFvr-nV_align-items: stretch;
  --mixin-7kTDzzFvr-nV_justify-content: flex-start;
  --mixin-7kTDzzFvr-nV_list-style-position: outside;
  --mixin-7kTDzzFvr-nV_padding-left: 40px;
  --mixin-7kTDzzFvr-nV_position: relative;
  --mixin-7kTDzzFvr-nV_list-style-type: disc;
  --mixin-7kTDzzFvr-nV_white-space: pre-wrap;
  --mixin-DiE9pQPWHnKx_display: flex;
  --mixin-DiE9pQPWHnKx_flex-direction: column;
  --mixin-DiE9pQPWHnKx_align-items: stretch;
  --mixin-DiE9pQPWHnKx_justify-content: flex-start;
  --mixin-DiE9pQPWHnKx_list-style-position: outside;
  --mixin-DiE9pQPWHnKx_padding-left: 40px;
  --mixin-DiE9pQPWHnKx_position: relative;
  --mixin-DiE9pQPWHnKx_list-style-type: decimal;
  --mixin-DiE9pQPWHnKx_white-space: pre-wrap;
  --mixin-_-XLsVrsA6rV_color: #000000;
  --mixin-_-XLsVrsA6rV_font-size: 20px;
  --mixin-_-XLsVrsA6rV_font-weight: 600;
  --mixin-_-XLsVrsA6rV_line-height: 1.5;
  --mixin-_-XLsVrsA6rV_white-space: pre-wrap;
  --mixin-yUa3vcW42RhX_color: #000000;
  --mixin-yUa3vcW42RhX_font-size: 16px;
  --mixin-yUa3vcW42RhX_font-weight: 600;
  --mixin-yUa3vcW42RhX_line-height: 1.5;
  --mixin-yUa3vcW42RhX_white-space: pre-wrap;
  --mixin-NSv2kHWPoc8L_color: #3291ff;
  --mixin-NSv2kHWPoc8L_white-space: pre-wrap;
  --mixin-kV9Rt2HxOZLo_white-space: pre-wrap;
  --mixin-AMz5l-VJWTZA_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-ht5aM1usMGQF_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-ht5aM1usMGQF_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-uKBRGoGvfMDm_font-family);
  font-size: var(--mixin-uKBRGoGvfMDm_font-size);
  font-weight: var(--mixin-uKBRGoGvfMDm_font-weight);
  font-style: var(--mixin-uKBRGoGvfMDm_font-style);
  color: var(--mixin-uKBRGoGvfMDm_color);
  text-align: var(--mixin-uKBRGoGvfMDm_text-align);
  text-transform: var(--mixin-uKBRGoGvfMDm_text-transform);
  line-height: var(--mixin-uKBRGoGvfMDm_line-height);
  letter-spacing: var(--mixin-uKBRGoGvfMDm_letter-spacing);
  white-space: var(--mixin-uKBRGoGvfMDm_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-ZjowoO_o0m05_color);
  font-weight: var(--mixin-ZjowoO_o0m05_font-weight);
  font-size: var(--mixin-ZjowoO_o0m05_font-size);
  line-height: var(--mixin-ZjowoO_o0m05_line-height);
  letter-spacing: var(--mixin-ZjowoO_o0m05_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-ly10glyjvpWS_color);
  font-size: var(--mixin-ly10glyjvpWS_font-size);
  font-weight: var(--mixin-ly10glyjvpWS_font-weight);
  letter-spacing: var(--mixin-ly10glyjvpWS_letter-spacing);
  line-height: var(--mixin-ly10glyjvpWS_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-5joBE2nekiwK_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-85b2v-oB74Vi_color);
  font-size: var(--mixin-85b2v-oB74Vi_font-size);
  font-weight: var(--mixin-85b2v-oB74Vi_font-weight);
  line-height: var(--mixin-85b2v-oB74Vi_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-_C6jIpiEhrY-_color);
  font-size: var(--mixin-_C6jIpiEhrY-_font-size);
  font-weight: var(--mixin-_C6jIpiEhrY-_font-weight);
  line-height: var(--mixin-_C6jIpiEhrY-_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-D52UenyJRC0V_font-family);
  border-radius: var(--mixin-D52UenyJRC0V_border-top-left-radius)
    var(--mixin-D52UenyJRC0V_border-top-right-radius)
    var(--mixin-D52UenyJRC0V_border-bottom-right-radius)
    var(--mixin-D52UenyJRC0V_border-bottom-left-radius);
  padding: var(--mixin-D52UenyJRC0V_padding-top)
    var(--mixin-D52UenyJRC0V_padding-right)
    var(--mixin-D52UenyJRC0V_padding-bottom)
    var(--mixin-D52UenyJRC0V_padding-left);
  border-top: var(--mixin-D52UenyJRC0V_border-top-width)
    var(--mixin-D52UenyJRC0V_border-top-style)
    var(--mixin-D52UenyJRC0V_border-top-color);
  border-right: var(--mixin-D52UenyJRC0V_border-right-width)
    var(--mixin-D52UenyJRC0V_border-right-style)
    var(--mixin-D52UenyJRC0V_border-right-color);
  border-bottom: var(--mixin-D52UenyJRC0V_border-bottom-width)
    var(--mixin-D52UenyJRC0V_border-bottom-style)
    var(--mixin-D52UenyJRC0V_border-bottom-color);
  border-left: var(--mixin-D52UenyJRC0V_border-left-width)
    var(--mixin-D52UenyJRC0V_border-left-style)
    var(--mixin-D52UenyJRC0V_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-aiXMUzRTWiZr_color);
  padding-left: var(--mixin-aiXMUzRTWiZr_padding-left);
  border-left: var(--mixin-aiXMUzRTWiZr_border-left-width)
    var(--mixin-aiXMUzRTWiZr_border-left-style)
    var(--mixin-aiXMUzRTWiZr_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-NVWDRkZDwpJk_font-family);
  border-radius: var(--mixin-NVWDRkZDwpJk_border-top-left-radius)
    var(--mixin-NVWDRkZDwpJk_border-top-right-radius)
    var(--mixin-NVWDRkZDwpJk_border-bottom-right-radius)
    var(--mixin-NVWDRkZDwpJk_border-bottom-left-radius);
  padding: var(--mixin-NVWDRkZDwpJk_padding-top)
    var(--mixin-NVWDRkZDwpJk_padding-right)
    var(--mixin-NVWDRkZDwpJk_padding-bottom)
    var(--mixin-NVWDRkZDwpJk_padding-left);
  border-top: var(--mixin-NVWDRkZDwpJk_border-top-width)
    var(--mixin-NVWDRkZDwpJk_border-top-style)
    var(--mixin-NVWDRkZDwpJk_border-top-color);
  border-right: var(--mixin-NVWDRkZDwpJk_border-right-width)
    var(--mixin-NVWDRkZDwpJk_border-right-style)
    var(--mixin-NVWDRkZDwpJk_border-right-color);
  border-bottom: var(--mixin-NVWDRkZDwpJk_border-bottom-width)
    var(--mixin-NVWDRkZDwpJk_border-bottom-style)
    var(--mixin-NVWDRkZDwpJk_border-bottom-color);
  border-left: var(--mixin-NVWDRkZDwpJk_border-left-width)
    var(--mixin-NVWDRkZDwpJk_border-left-style)
    var(--mixin-NVWDRkZDwpJk_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-7kTDzzFvr-nV_display);
  flex-direction: var(--mixin-7kTDzzFvr-nV_flex-direction);
  align-items: var(--mixin-7kTDzzFvr-nV_align-items);
  justify-content: var(--mixin-7kTDzzFvr-nV_justify-content);
  list-style-position: var(--mixin-7kTDzzFvr-nV_list-style-position);
  padding-left: var(--mixin-7kTDzzFvr-nV_padding-left);
  position: var(--mixin-7kTDzzFvr-nV_position);
  list-style-type: var(--mixin-7kTDzzFvr-nV_list-style-type);
  flex-column-gap: var(--mixin-7kTDzzFvr-nV_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-DiE9pQPWHnKx_display);
  flex-direction: var(--mixin-DiE9pQPWHnKx_flex-direction);
  align-items: var(--mixin-DiE9pQPWHnKx_align-items);
  justify-content: var(--mixin-DiE9pQPWHnKx_justify-content);
  list-style-position: var(--mixin-DiE9pQPWHnKx_list-style-position);
  padding-left: var(--mixin-DiE9pQPWHnKx_padding-left);
  position: var(--mixin-DiE9pQPWHnKx_position);
  list-style-type: var(--mixin-DiE9pQPWHnKx_list-style-type);
  flex-column-gap: var(--mixin-DiE9pQPWHnKx_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-_-XLsVrsA6rV_color);
  font-size: var(--mixin-_-XLsVrsA6rV_font-size);
  font-weight: var(--mixin-_-XLsVrsA6rV_font-weight);
  line-height: var(--mixin-_-XLsVrsA6rV_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-yUa3vcW42RhX_color);
  font-size: var(--mixin-yUa3vcW42RhX_font-size);
  font-weight: var(--mixin-yUa3vcW42RhX_font-weight);
  line-height: var(--mixin-yUa3vcW42RhX_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-NSv2kHWPoc8L_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
