.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.frame2 {
  background: rgba(31, 59, 85, 1);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  min-width: 0;
  padding: 70px 0px;
}
.group3 {
  opacity: 0.05999999865889549;
  width: 580px;
  height: 587px;
  display: block;
  position: absolute;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  flex-shrink: 0;
}
.svg__wAoxf {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0px, 0.43460845947265625px);
  width: 229.972900390625px;
  height: 431.5473327636719px;
  display: block;
  position: absolute;
  top: 66px;
  left: 0px;
}
.svg__nwkRy {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.455535888671875px, 0.011993408203125px);
  width: 396.9610900878906px;
  height: 295.650146484375px;
  display: block;
  position: absolute;
  top: 291px;
  left: 166px;
}
.svg__uqEzg {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.216583251953125px, 0px);
  width: 400.21563720703125px;
  height: 312.1340026855469px;
  display: block;
  position: absolute;
  top: 0px;
  left: 180px;
}
.frame3 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
  max-width: 1320px;
  min-width: 0;
}
@media (max-width: 1440px) {
  .frame3 {
    width: 100%;
    min-width: 0;
  }
}
.frame4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  column-gap: 10px;
  border-bottom: 2px solid var(--token-WpPBw5f93wEg);
}
.text__aptUo {
  display: block;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text___78Qwq {
  display: block;
  font-size: 22px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
