.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.rootmobileMenuOpen_menus_dropdown1 {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
}
.header {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.frame3 {
  background: rgba(31, 59, 85, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  width: 100%;
  row-gap: 10px;
  min-width: 0;
}
.frame4 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 1320px;
  row-gap: 10px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .frame4 {
    width: 100%;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame4 {
    display: none;
  }
}
.navigationItem {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  cursor: pointer;
  padding: 8px 15px;
}
.layer1 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__id9Fk {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.000882112595718354px, -0.281369686126709px);
  width: 9.516366958618164px;
  height: 17.655651092529297px;
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  margin-right: 0px;
}
.svg__wvZbl {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.1129617691040039px, -0.09339141845703125px);
  width: 16.426292419433594px;
  height: 1em;
  display: block;
  position: absolute;
  top: 12px;
  left: 7px;
}
.svg__fttGt {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.43856143951416016px, 0.0006007530028000474px);
  width: 16.56099510192871px;
  height: 12.7701416015625px;
  display: block;
  position: absolute;
  top: 0px;
  left: 7px;
}
.text___8H8Tm {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.svg__nnjjz {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 8px;
  height: 5px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.resourcesMenu2 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.15000000596046448));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: absolute;
  flex-shrink: 0;
}
.resourcesMenu2menus_dropdownexplore {
  top: 41px;
  left: auto;
  right: 0;
  width: 320px;
  z-index: 3;
  flex-shrink: 0;
  display: flex;
}
.navItemMenu75 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
.buttonPrimary___5IdSr:global(.__wab_instance) {
  max-width: 100%;
}
.frame5 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1320px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .frame5 {
    width: 100%;
    padding-left: 10px;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame5 {
    display: none;
  }
}
.logoSection {
  width: 356px;
  height: 70px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__dtNe7 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(-0.24025726318359375px, -0.49166297912597656px);
  width: 115.6878890991211px;
  height: 31.225452423095703px;
  display: block;
  position: absolute;
  top: 20px;
  left: 76px;
}
.svg__iOgI4 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(0.3862457275390625px, -0.4626293182373047px);
  width: 137.62245178222656px;
  height: 12.417543411254883px;
  display: block;
  position: absolute;
  top: 21px;
  left: 218px;
}
.svg__wcHlv {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(-0.3026580810546875px, -0.05867767333984375px);
  width: 130.8468017578125px;
  height: 12.417543411254883px;
  display: block;
  position: absolute;
  top: 37px;
  left: 219px;
}
.svg__sl7YQ {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  transform: translate(-0.0024864221923053265px, -0.07066154479980469px);
  width: 27.442344665527344px;
  height: 51.49565887451172px;
  display: block;
  position: absolute;
  top: 8px;
  left: 0px;
}
.svg__higje {
  object-fit: cover;
  max-width: 100%;
  color: #2e5774;
  transform: translate(-0.139862060546875px, -0.2723884582519531px);
  width: 47.368473052978516px;
  height: 35.27928924560547px;
  display: block;
  position: absolute;
  top: 35px;
  left: 20px;
}
.svg__eQnCj {
  object-fit: cover;
  max-width: 100%;
  color: #839a43;
  transform: translate(0.4505805969238281px, 0.0017521963454782963px);
  width: 47.756919860839844px;
  height: 37.24624252319336px;
  display: block;
  position: absolute;
  top: 0px;
  left: 21px;
}
.svg__tbKqk {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(0.0336456298828125px, -0.2038288116455078px);
  width: 1px;
  height: 36px;
  display: block;
  position: absolute;
  top: 25.71%;
  left: 57.58%;
}
.frame6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}
.frame7 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  min-height: 0;
}
.navItemMenu {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
.buttonPrimary__lGt0C:global(.__wab_instance) {
  max-width: 100%;
}
.menuBar {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-suq4UeRS5JaX);
  height: 20px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar > * {
  grid-column: 4;
}
@media (max-width: 1279px) {
  .menuBar > * {
    grid-column: 4;
  }
}
.navItemMenu2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}
.buttonPrimary__aMm9S:global(.__wab_instance) {
  max-width: 100%;
}
.menuBar3 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-suq4UeRS5JaX);
  height: 20px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar3 > * {
  grid-column: 4;
}
.frame1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}
.navItemMenu3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
.buttonPrimary__rg9Nn:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
}
.freeBoxmenus_dropdownuser {
  column-gap: 15px;
  row-gap: 0px;
}
.frame8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.userIcon {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.itemMenuCurrentUser:global(.__wab_instance) {
  max-width: 100%;
}
.userMenu {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.15000000596046448));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: absolute;
  flex-shrink: 0;
}
.userMenumenus_dropdownuser {
  left: auto;
  top: 50px;
  position: absolute;
  right: 40px;
  width: 320px;
  flex-shrink: 0;
  display: flex;
}
.navItemMenu76 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 320px;
  padding: 15px;
}
.navItemMenu76menus_dropdownuser {
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  padding: 8px;
}
.buttonPrimary__ionPq:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__dA6Mq:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__q2P:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__mdfww:global(.__wab_instance) {
  max-width: 100%;
}
.mobileMenuFrame {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-top: 1px solid var(--token-C5aY7m0H85JJ);
  border-bottom: 1px solid var(--token-C5aY7m0H85JJ);
}
@media (max-width: 1535px) {
  .mobileMenuFrame {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1023px) {
  .mobileMenuFrame {
    height: auto;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: sticky;
    transform: none;
    width: auto;
    max-height: 100vh;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    display: flex;
    border-top: 1px solid var(--token-C5aY7m0H85JJ);
    border-bottom: 1px solid var(--token-C5aY7m0H85JJ);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .mobileMenuFrame {
    display: none;
  }
}
@media (max-width: 1023px) {
  .mobileMenuFramemobileMenuOpen {
    left: 0;
    top: 141px;
    z-index: 3;
    position: fixed;
    right: 0;
    width: auto;
    height: auto;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .mobileMenuFramemobileMenuOpen_menus_dropdown1 {
    overflow-x: visible;
    overflow-y: auto;
    max-height: 100vh;
  }
}
.navigation {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1320px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .navigation {
    width: 100%;
    padding-left: 10px;
    min-width: 0;
  }
}
@media (max-width: 1023px) {
  .navigationmobileMenuOpen {
    display: flex;
    flex-direction: column;
    max-width: none;
    height: auto;
    column-gap: 0px;
    padding: 0px;
  }
}
.navMenu {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  column-gap: 5px;
  cursor: pointer;
  min-height: 0;
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .navMenumobileMenuOpen {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.itemMegaMenuItem__uyOst:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
@media (max-width: 1023px) {
  .itemMegaMenuItemmobileMenuOpen__uyOstkMwij:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.megaMenuDropdown {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.15000000596046448));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 1360px;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  left: 0px;
  top: 0px;
  z-index: 10;
  position: absolute;
  transform: none;
  opacity: 0;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 20px;
}
@media (max-width: 1023px) {
  .megaMenuDropdown {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .megaMenuDropdown {
    display: none;
  }
}
@media (max-width: 480px) {
  .megaMenuDropdown {
    display: none;
  }
}
.megaMenuDropdownmenus_dropdown1 {
  opacity: 1;
}
.megaMenuDropdownmenus_dropdown2 {
  opacity: 1;
}
.megaMenuDropdownmenus_dropdown3 {
  opacity: 1;
}
.megaMenuDropdownmenus_dropdown4 {
  opacity: 1;
}
.megaMenuDropdownmenus_dropdown5 {
  opacity: 1;
}
.megaMenuDropdownmenus_dropdown6 {
  opacity: 1;
}
.megaMenuDropdownmenus_dropdown7 {
  opacity: 1;
}
.megaMenuDropdownmenus_dropdownresources {
  opacity: 0;
}
.megaMenuDropdownmobileMenuOpen_menus_dropdown1 {
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .megaMenuDropdownmobileMenuOpen_menus_dropdown1 {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: sticky;
    left: 0px;
    top: 0px;
    column-gap: 0px;
  }
}
.frame53 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 30px;
  padding: 10px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame53mobileMenuOpen_menus_dropdown1 {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.frame54 {
  height: 28px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame54mobileMenuOpen_menus_dropdown1 {
    display: none;
  }
}
.text__wXomI {
  display: block;
  flex-grow: 1;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .textmobileMenuOpen_menus_dropdown1__wXomIkMwijUiCmH {
    display: none;
  }
}
.frame55 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame55mobileMenuOpen_menus_dropdown1 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    padding-bottom: 15px;
    column-gap: 0px;
    min-width: 0;
  }
}
.frame56 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame56mobileMenuOpen_menus_dropdown1 {
    width: 100%;
    min-width: 0;
  }
}
.menuOneColumnONe {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuOneColumnONemenus_dropdown1 {
  display: flex;
}
.itemMegaMenuSubitem__xfmrq:global(.__wab_instance) {
  max-width: 100%;
}
.menuTwoColumnOne {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuTwoColumnOnemenus_dropdown2 {
  display: flex;
}
.itemMegaMenuSubitem__c7K3G:global(.__wab_instance) {
  max-width: 100%;
}
.menuThreeColumnOne {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuThreeColumnOnemenus_dropdown3 {
  display: flex;
}
.itemMegaMenuSubitem___8Sftf:global(.__wab_instance) {
  max-width: 100%;
}
.menuFourColumnOne {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuFourColumnOnemenus_dropdown1 {
  display: none;
}
.menuFourColumnOnemenus_dropdown4 {
  display: flex;
}
.itemMegaMenuSubitem__zmBaW:global(.__wab_instance) {
  max-width: 100%;
}
.menuFiveColumnOne {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuFiveColumnOnemenus_dropdown5 {
  display: flex;
}
.itemMegaMenuSubitem__l31P2:global(.__wab_instance) {
  max-width: 100%;
}
.menuSixColumnOne {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuSixColumnOnemenus_dropdown6 {
  display: flex;
}
.itemMegaMenuSubitem__meEzp:global(.__wab_instance) {
  max-width: 100%;
}
.menuSevenColumnOne {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
.menuSevenColumnOnemenus_dropdown1 {
  display: none;
}
.menuSevenColumnOnemenus_dropdown2 {
  display: none;
}
.menuSevenColumnOnemenus_dropdown3 {
  display: none;
}
.menuSevenColumnOnemenus_dropdown4 {
  display: none;
}
.menuSevenColumnOnemenus_dropdown5 {
  display: none;
}
.menuSevenColumnOnemenus_dropdown6 {
  display: none;
}
.itemMegaMenuSubitem__gn6XZ:global(.__wab_instance) {
  max-width: 100%;
}
.frame57 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame57mobileMenuOpen_menus_dropdown1 {
    width: 100%;
    min-width: 0;
  }
}
.frame71 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  row-gap: 15px;
  min-width: 0;
}
.menuOneColumnTwo {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuOneColumnTwomenus_dropdown1 {
  display: flex;
}
.itemMegaMenuSubitem__tuim4:global(.__wab_instance) {
  max-width: 100%;
}
.menuTwoColumnTwo {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuTwoColumnTwomenus_dropdown2 {
  display: flex;
}
.itemMegaMenuSubitem__dxRv:global(.__wab_instance) {
  max-width: 100%;
}
.menuThreeColumnTwo {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuThreeColumnTwomenus_dropdown1 {
  display: none;
}
.menuThreeColumnTwomenus_dropdown2 {
  display: none;
}
.menuThreeColumnTwomenus_dropdown3 {
  display: flex;
}
.menuThreeColumnTwomenus_dropdown4 {
  display: none;
}
.menuThreeColumnTwomenus_dropdown5 {
  display: none;
}
.menuThreeColumnTwomenus_dropdown6 {
  display: none;
}
.menuThreeColumnTwomenus_dropdown7 {
  display: none;
}
.itemMegaMenuSubitem__o9BD:global(.__wab_instance) {
  max-width: 100%;
}
.menuFourColumnTwo2 {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuFourColumnTwo2menus_dropdown1 {
  display: none;
}
.menuFourColumnTwo2menus_dropdown2 {
  display: none;
}
.menuFourColumnTwo2menus_dropdown3 {
  display: none;
}
.menuFourColumnTwo2menus_dropdown4 {
  display: flex;
}
.menuFourColumnTwo2menus_dropdown5 {
  display: none;
}
.menuFourColumnTwo2menus_dropdown6 {
  display: none;
}
.menuFourColumnTwo2menus_dropdown7 {
  display: none;
}
.itemMegaMenuSubitem__gM8Pw:global(.__wab_instance) {
  max-width: 100%;
}
.menuFiveColumnTwo {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuFiveColumnTwomenus_dropdown1 {
  display: none;
}
.menuFiveColumnTwomenus_dropdown2 {
  display: none;
}
.menuFiveColumnTwomenus_dropdown3 {
  display: none;
}
.menuFiveColumnTwomenus_dropdown4 {
  display: none;
}
.menuFiveColumnTwomenus_dropdown5 {
  display: flex;
}
.menuFiveColumnTwomenus_dropdown6 {
  display: none;
}
.menuFiveColumnTwomenus_dropdown7 {
  display: none;
}
.itemMegaMenuSubitem__qz82F:global(.__wab_instance) {
  max-width: 100%;
}
.menuSixColumnTwo {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  display: none;
  border-radius: 2px;
}
.menuSixColumnTwomenus_dropdown1 {
  display: none;
}
.menuSixColumnTwomenus_dropdown2 {
  display: none;
}
.menuSixColumnTwomenus_dropdown3 {
  display: none;
}
.menuSixColumnTwomenus_dropdown4 {
  display: none;
}
.menuSixColumnTwomenus_dropdown5 {
  display: none;
}
.menuSixColumnTwomenus_dropdown6 {
  display: flex;
}
.menuSixColumnTwomenus_dropdown7 {
  display: none;
}
.itemMegaMenuSubitem__wjk9Y:global(.__wab_instance) {
  max-width: 100%;
}
.menuSevenColumnTwo {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
.menuSevenColumnTwomenus_dropdown7 {
  display: flex;
}
.itemMegaMenuSubitem___38OdQ:global(.__wab_instance) {
  max-width: 100%;
}
.frame58 {
  background: rgba(244, 244, 235, 1);
  width: 405px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame58mobileMenuOpen_menus_dropdown1 {
    width: 100%;
    min-width: 0;
  }
}
.menuOneColumn3 {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  display: none;
}
.menuOneColumn3menus_dropdown1 {
  display: flex;
}
.menuOneColumn3menus_dropdown2 {
  display: none;
}
.itemExternalLinkCardItemWithLogo__oLsHk:global(.__wab_instance) {
  max-width: 100%;
}
.menuSixColumn3 {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.menuSixColumn3menus_dropdown6 {
  display: flex;
}
.itemExternalLinkCardItemWithLogo__kkPap:global(.__wab_instance) {
  max-width: 100%;
}
.menuFiveColumn3 {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.menuFiveColumn3menus_dropdown5 {
  display: flex;
}
.menuFiveColumn3menus_dropdown6 {
  display: none;
}
.itemExternalLinkCardItemWithLogo___3VPqb:global(.__wab_instance) {
  max-width: 100%;
}
.menuTwoColumn {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.menuTwoColumnmenus_dropdown2 {
  display: flex;
}
.itemMenuFeaturedHighlightItem__yfKgb:global(.__wab_instance) {
  max-width: 100%;
}
.menuTwoColumn2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
.menuTwoColumn2menus_dropdown2 {
  display: flex;
}
.itemMenuFeaturedHighlightItem__fTgog:global(.__wab_instance) {
  max-width: 100%;
}
.itemMenuFeaturedHighlightItemmenus_dropdown2__fTgogd5KWg:global(
    .__wab_instance
  ) {
  display: none;
}
.menuFourColumn3 {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  display: none;
}
.menuFourColumn3menus_dropdown1 {
  display: none;
}
.menuFourColumn3menus_dropdown2 {
  display: none;
}
.menuFourColumn3menus_dropdown4 {
  display: flex;
}
.itemMenuFeaturedHighlightItem__ndHk0:global(.__wab_instance) {
  max-width: 100%;
}
.figmaPaste {
  position: relative;
  width: 100%;
  height: 154px;
  min-width: 0;
  flex-shrink: 0;
}
.text__sRbQy {
  display: block;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 0px;
  top: 0px;
}
.text___54MmL {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(49, 51, 55, 1);
  width: 345px;
  position: absolute;
  left: 0px;
  top: 38px;
}
.social2 {
  box-shadow: none;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  position: absolute;
  left: 0px;
  top: 104px;
  column-gap: 10px;
}
.socialIcon6 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  column-gap: 10px;
  border-radius: 300px;
  padding: 8px;
}
.svg__igxfI {
  object-fit: cover;
  max-width: 100%;
  color: #2e5774;
  width: 24px;
  height: 24px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
.socialIcon7 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  column-gap: 10px;
  border-radius: 300px;
  padding: 8px;
}
.svg___27H2P {
  object-fit: cover;
  max-width: 100%;
  color: #2e5774;
  width: 24px;
  height: 24px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
.socialIcon8 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  column-gap: 10px;
  border-radius: 300px;
  padding: 8px;
}
.svg__fXbJj {
  object-fit: cover;
  max-width: 100%;
  color: #2e5774;
  width: 24px;
  height: 24px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
}
.socialIcon9 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  column-gap: 10px;
  border-radius: 300px;
  padding: 8px;
}
.svg__j15QN {
  object-fit: cover;
  max-width: 100%;
  color: #2e5774;
  width: 24px;
  height: 24px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
}
.socialIcon10 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  column-gap: 10px;
  border-radius: 300px;
  padding: 8px;
}
.svg__t4Jnt {
  object-fit: cover;
  max-width: 100%;
  color: #2e5774;
  width: 24px;
  height: 24px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
.text__xNcDp {
  display: block;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.textmenus_dropdown1__xNcDPuiCmH {
  display: none;
}
.textmenus_dropdown2__xNcDPd5KWg {
  display: none;
}
.textmenus_dropdown3__xNcDpk1XK4 {
  display: none;
}
.textmenus_dropdown4__xNcDPdFasb {
  display: none;
}
.textmenus_dropdown5__xNcDPwub2S {
  display: none;
}
.textmenus_dropdown6__xNcDpKvHmc {
  display: none;
}
.text__x9SPn {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(49, 51, 55, 1);
  align-self: stretch;
  position: relative;
}
.textmenus_dropdown1__x9SPnuiCmH {
  display: none;
}
.textmenus_dropdown2__x9SPnd5KWg {
  display: none;
}
.textmenus_dropdown3__x9SPnK1XK4 {
  display: none;
}
.textmenus_dropdown4__x9SPndFasb {
  display: none;
}
.textmenus_dropdown5__x9SPnwub2S {
  display: none;
}
.textmenus_dropdown6__x9SPnKvHmc {
  display: none;
}
.itemSocialIconsWhite:global(.__wab_instance) {
  position: relative;
}
.itemSocialIconsWhitemenus_dropdown1:global(.__wab_instance) {
  display: none;
}
.itemSocialIconsWhitemenus_dropdown2:global(.__wab_instance) {
  display: none;
}
.itemSocialIconsWhitemenus_dropdown3:global(.__wab_instance) {
  display: none;
}
.itemSocialIconsWhitemenus_dropdown4:global(.__wab_instance) {
  display: none;
}
.itemSocialIconsWhitemenus_dropdown5:global(.__wab_instance) {
  display: none;
}
.itemSocialIconsWhitemenus_dropdown6:global(.__wab_instance) {
  display: none;
}
.navMenu2 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  column-gap: 5px;
  cursor: pointer;
  min-height: 0;
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .navMenu2mobileMenuOpen {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.itemMegaMenuItem__udzYw:global(.__wab_instance) {
  max-width: 100%;
}
.navMenu3 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  column-gap: 5px;
  cursor: pointer;
  min-height: 0;
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .navMenu3mobileMenuOpen {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.itemMegaMenuItem__hjQc9:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.navMenu4 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  column-gap: 5px;
  cursor: pointer;
  min-height: 0;
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .navMenu4mobileMenuOpen {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.itemMegaMenuItem__oYiNw:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.navMenu5 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  column-gap: 5px;
  cursor: pointer;
  min-height: 0;
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .navMenu5mobileMenuOpen {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.itemMegaMenuItem__t8Qrv:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.navMenu6 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  column-gap: 5px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .navMenu6mobileMenuOpen {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.itemMegaMenuItem__mu01A:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.navMenu7 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  column-gap: 5px;
  cursor: pointer;
  min-height: 0;
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .navMenu7mobileMenuOpen {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.itemMegaMenuItem__kBa48:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.navMenuResources {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: var(--token-_oibR2YYXaCj);
  column-gap: 5px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 2px;
  padding: 15px;
}
@media (max-width: 1023px) {
  .navMenuResourcesmobileMenuOpen {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.itemMegaMenuItem___8S1Pr:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.resourcesMenu {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.15000000596046448));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: auto;
  top: 51px;
  z-index: 1;
  position: absolute;
  right: -5px;
  bottom: auto;
  flex-shrink: 0;
}
.resourcesMenumenus_dropdownresources {
  display: flex;
}
.navItemMenu74 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
.buttonPrimary__a6Jkl:global(.__wab_instance) {
  max-width: 100%;
}
.mobileHeader {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 20;
  min-width: 0;
}
@media (max-width: 1023px) {
  .mobileHeader {
    display: flex;
  }
}
@media (max-width: 1023px) {
  .mobileHeadermobileMenuOpen {
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    right: 0;
    width: auto;
  }
}
.header2 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.15000000596046448));
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame45 {
  background: rgba(31, 59, 85, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 2px;
  row-gap: 10px;
}
.navigationItem75 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  padding: 5px 15px;
}
.layer13 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__tmAlz {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.000882112595718354px, -0.281369686126709px);
  width: 9.516366958618164px;
  height: 17.655651092529297px;
  position: absolute;
  top: 3px;
  left: 0px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__tmAlz {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__tmAlz {
    display: block;
  }
}
.svg__oloiz {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.1129617691040039px, -0.09339141845703125px);
  width: 16.426292419433594px;
  height: 12.095754623413086px;
  position: absolute;
  top: 12px;
  left: 7px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__oloiz {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__oloiz {
    display: block;
  }
}
.svg__duddM {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.43856143951416016px, 0.0006007530028000474px);
  width: 16.56099510192871px;
  height: 12.7701416015625px;
  position: absolute;
  top: 0px;
  left: 7px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__duddM {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__duddM {
    display: block;
  }
}
.text__gIYyH {
  display: block;
  font-size: 13px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.svg___8My95 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 8px;
  height: 5px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg___8My95 {
    display: block;
  }
}
.frame46 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
  padding: 5px 16px 10px;
}
.frame47 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
}
.frame48 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}
.navItemMenu70 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
@media (max-width: 240px) {
  .navItemMenu70 {
    display: none;
  }
}
.navigationItem76 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(49, 51, 55, 1);
  position: relative;
}
.menuBar2 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-suq4UeRS5JaX);
  height: 20px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar2 > * {
  grid-column: 4;
}
@media (max-width: 1279px) {
  .menuBar2 > * {
    grid-column: 4;
  }
}
@media (max-width: 1023px) {
  .menuBar2 > * {
    grid-column: 4;
  }
}
.navItemMenu73 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
@media (max-width: 240px) {
  .navItemMenu73 {
    display: none;
  }
}
.icon12X12171 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg__qywt {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 12px;
  height: 12.000000953674316px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__qywt {
    display: flex;
  }
}
.navigationItem79 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(49, 51, 55, 1);
  position: relative;
}
.menuBar5 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-suq4UeRS5JaX);
  height: 20px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar5 > * {
  grid-column: 4;
}
@media (max-width: 1279px) {
  .menuBar5 > * {
    grid-column: 4;
  }
}
@media (max-width: 1023px) {
  .menuBar5 > * {
    grid-column: 4;
  }
}
.icon12X12172 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg__bJfaw {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 12px;
  height: 12px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__bJfaw {
    display: flex;
  }
}
.navItemMenu71 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  column-gap: 5px;
}
@media (max-width: 240px) {
  .navItemMenu71 {
    display: none;
  }
}
.icon12X12165 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg___7IZye {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 12px;
  height: 12.000000953674316px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg___7IZye {
    display: flex;
  }
}
.navigationItem77 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(49, 51, 55, 1);
  position: relative;
}
.menuBar4 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-suq4UeRS5JaX);
  height: 20px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar4 > * {
  grid-column: 4;
}
@media (max-width: 1279px) {
  .menuBar4 > * {
    grid-column: 4;
  }
}
@media (max-width: 1023px) {
  .menuBar4 > * {
    grid-column: 4;
  }
}
.icon12X12166 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg__yhKEm {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 12px;
  height: 12px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__yhKEm {
    display: flex;
  }
}
.frame49 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  column-gap: 5px;
}
@media (max-width: 240px) {
  .frame49 {
    display: none;
  }
}
.svg__fuFyD {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 15.999999046325684px;
  height: 13.509928703308105px;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .svg__fuFyD {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__fuFyD {
    display: block;
  }
}
.navItemMenu72 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
.icon12X12167 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg__loDiR {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 12px;
  height: 12.000000953674316px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__loDiR {
    display: flex;
  }
}
.navigationItem78 {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(49, 51, 55, 1);
  position: relative;
}
.icon12X12168 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg__zE6Uj {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 12px;
  height: 12px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__zE6Uj {
    display: flex;
  }
}
.buttonSecondary2 {
  background: rgba(0, 142, 132, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  border-radius: 4px;
  padding: 8px;
}
@media (max-width: 240px) {
  .buttonSecondary2 {
    display: none;
  }
}
.icon12X12169 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg__t8Vkr {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 12px;
  height: 12.000000953674316px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__t8Vkr {
    display: flex;
  }
}
.text2 {
  display: block;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.icon12X12170 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg___40TuS {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 12px;
  height: 12px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg___40TuS {
    display: flex;
  }
}
.frame50 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.userBadge2 {
  background: rgba(0, 142, 132, 1);
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
}
.text__xhl0W {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.iconButton2 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  border-radius: 54px;
  padding: 13px;
}
.icon24X242 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg___6EcVx {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 24px;
  height: 24px;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg___6EcVx {
    display: flex;
  }
}
.frame51 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.isolationMode2 {
  width: 254px;
  height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
@media (max-width: 240px) {
  .isolationMode2 {
    width: 150px;
    flex-shrink: 0;
  }
}
.svg___00Ay {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(0.053302764892578125px, -0.06547355651855469px);
  width: 82.5413589477539px;
  height: 22.30389404296875px;
  position: absolute;
  top: 14px;
  left: 54px;
  display: none;
}
@media (max-width: 1023px) {
  .svg___00Ay {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg___00Ay {
    display: block;
  }
}
.svg__jshNv {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(-0.1851348876953125px, -0.33045005798339844px);
  width: 98.19103240966797px;
  height: 8.869622230529785px;
  position: absolute;
  top: 15px;
  left: 156px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__jshNv {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__jshNv {
    display: block;
  }
}
@media (max-width: 240px) {
  .svg__jshNv {
    display: none;
  }
}
.svg__zwJi {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(0.0368804931640625px, 0.38665771484375px);
  width: 93.35698699951172px;
  height: 8.869674682617188px;
  position: absolute;
  top: 26px;
  left: 156px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__zwJi {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__zwJi {
    display: block;
  }
}
@media (max-width: 240px) {
  .svg__zwJi {
    display: none;
  }
}
.svg__vhR6 {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  transform: translate(-0.0017740203766152263px, -0.33618640899658203px);
  width: 19.579666137695312px;
  height: 36.78261947631836px;
  position: absolute;
  top: 6px;
  left: 0px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__vhR6 {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__vhR6 {
    display: block;
  }
}
.svg__uu3Lf {
  object-fit: cover;
  max-width: 100%;
  color: #2e5774;
  transform: translate(0.16987323760986328px, -0.1945648193359375px);
  width: 33.79660415649414px;
  height: 25.199493408203125px;
  position: absolute;
  top: 25px;
  left: 14px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__uu3Lf {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__uu3Lf {
    display: block;
  }
}
.svg__gMxdB {
  object-fit: cover;
  max-width: 100%;
  color: #839a43;
  transform: translate(0.3046274185180664px, 0.0012515687849372625px);
  width: 34.07375717163086px;
  height: 26.60445785522461px;
  position: absolute;
  top: 0px;
  left: 15px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__gMxdB {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__gMxdB {
    display: block;
  }
}
.svg___6Oigd {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(0.2880401611328125px, -0.2884483337402344px);
  width: 1px;
  height: 26px;
  position: absolute;
  top: 26%;
  left: 57.48%;
  display: none;
}
@media (max-width: 1023px) {
  .svg___6Oigd {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg___6Oigd {
    display: block;
  }
}
@media (max-width: 240px) {
  .svg___6Oigd {
    display: none;
  }
}
.itemMobileMenu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.itemMobileMenumobileMenuOpen:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .itemMobileMenumobileMenuOpen:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.itemMobileMenumobileMenuOpen_menus_dropdown1:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .itemMobileMenumobileMenuOpen_menus_dropdown1:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
