.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.checkItem {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
}
.text__weiN9 {
  display: block;
  flex-grow: 0;
  font-size: var(--token-S4uXlc6hSXcG);
  letter-spacing: 0em;
  color: var(--token-py5R6wetCsNw);
  position: relative;
  width: auto;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.text___3Jg8R {
  display: block;
  flex-grow: 0;
  font-size: var(--token-S4uXlc6hSXcG);
  letter-spacing: 0em;
  color: var(--token-py5R6wetCsNw);
  position: relative;
  width: auto;
  font-family: "Inter", sans-serif;
}
.text__zQz9O {
  display: block;
  flex-grow: 0;
  font-size: var(--token-S4uXlc6hSXcG);
  letter-spacing: 0em;
  color: var(--token-py5R6wetCsNw);
  position: relative;
  width: auto;
  font-family: "Inter", sans-serif;
}
