.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__eYdXb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Hivuri5dcJVd);
  min-width: 0;
}
.freeBox__ay6Qh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1320px;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
}
.freeBox__pUzSn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
  height: auto;
  max-width: 100%;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .freeBox__pUzSn {
    padding: 30px;
  }
}
@media (max-width: 414px) {
  .freeBox__pUzSn {
    width: 100%;
    min-width: 0;
  }
}
.frame9 {
  width: 610px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
}
.frame9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.frame9 > :global(.__wab_flex-container) > *,
.frame9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9 > :global(.__wab_flex-container) > picture > img,
.frame9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .frame9 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .frame9 > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: center;
    min-width: 0;
  }
}
.frame10 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .frame10 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .frame10 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
  }
}
.educationCme3 {
  display: block;
  font-size: 52px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 56px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
@media (max-width: 1024px) {
  .educationCme3 {
    width: auto;
    align-self: flex-start;
  }
}
.text__kYkY2 {
  display: block;
  font-size: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text__bUc8F {
  display: block;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
@media (max-width: 1024px) {
  .text__bUc8F {
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-start;
  }
}
.frame11 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.frame11 > :global(.__wab_flex-container) > *,
.frame11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame11 > :global(.__wab_flex-container) > picture > img,
.frame11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.buttonPrimary__zoHdB:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__rrXv:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__iJaPm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 50vw;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: visible;
  max-width: 50vw;
  min-height: 0;
}
@media (max-width: 414px) {
  .freeBox__iJaPm {
    display: none;
  }
}
.img {
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  align-self: stretch;
  flex-shrink: 0;
  flex-grow: 1;
  bottom: 0;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: contain;
}
@media (max-width: 1440px) {
  .img {
    top: 0px;
    left: 0px;
    height: 100%;
    min-height: 0;
  }
}
