.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.navMenu {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  transform: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  column-gap: 5px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.icon12X12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg__bxIfw {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 12px;
  height: 12.000000953674316px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-shrink: 0;
}
.navigationItem {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(49, 51, 55, 1);
  position: relative;
}
.root:hover .navigationItem {
  color: var(--token-YOr-x91EUcQe);
}
.icon12X122 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.svg__cM8GH {
  object-fit: cover;
  max-width: 100%;
  color: #313337;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  row-gap: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__cM8GH {
    display: none;
  }
}
.root:hover .svg__cM8GH {
  color: var(--token-YOr-x91EUcQe);
}
