.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.frame3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  min-width: 0;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 70px);
  width: calc(100% + 70px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 70px;
}
.column {
  background: url("/plasmic/assh_home/images/column4.jpg") center center / cover no-repeat;
  height: 350px;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: 10px;
}
.frame7 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.frame7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.frame7 > :global(.__wab_flex-container) > *,
.frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame7 > :global(.__wab_flex-container) > picture > img,
.frame7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.frame7rightImage > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
}
.text__aS8AM {
  display: block;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
}
.text__zZ3Gx {
  display: block;
  font-size: 22px;
  letter-spacing: 0em;
  line-height: 32px;
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
