.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1440px) {
  .root {
    width: 100%;
    justify-self: flex-start;
    min-width: 0;
  }
}
.section7 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
  min-width: 0;
}
.section7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.section7 > :global(.__wab_flex-container) > *,
.section7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section7 > :global(.__wab_flex-container) > picture > img,
.section7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.frame2 {
  width: 1320px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame2 > :global(.__wab_flex-container) > *,
.frame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2 > :global(.__wab_flex-container) > picture > img,
.frame2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 1440px) {
  .frame2 {
    width: 100%;
    min-width: 0;
    padding: 20px;
  }
}
@media (max-width: 1440px) {
  .frame2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text {
  display: block;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 1320px;
}
@media (max-width: 1440px) {
  .text {
    width: auto;
  }
}
.row {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.row > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 70px);
  width: calc(100% + 70px);
  --plsmc-rc-col-gap: 70px;
}
.row > :global(.__wab_flex-container) > *,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row > :global(.__wab_flex-container) > picture > img,
.row > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 70px;
}
.row > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.row > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 1440px) {
  .row {
    flex-direction: row;
  }
}
@media (max-width: 1440px) {
  .row > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: calc(0px - 40px);
    width: calc(100% + 40px);
    --plsmc-rc-col-gap: 40px;
  }
}
@media (max-width: 1440px) {
  .row > :global(.__wab_flex-container) > *,
  .row > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .row > :global(.__wab_flex-container) > picture > img,
  .row > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
    margin-left: 40px;
  }
}
@media (max-width: 1440px) {
  .row > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1440px) {
  .row > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1024px) {
  .row {
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .row > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .row > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .row > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pgAlg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.articleImageCard {
  background: none;
  box-shadow: none;
  display: flex;
  position: relative;
  align-self: center;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  border-radius: 10px;
}
.column__i6Z77 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px;
}
.frame5 {
  background: rgba(255, 255, 255, 1);
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}
.articleCard {
  background: rgba(255, 255, 255, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}
.articleCard > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.articleCard > :global(.__wab_flex-container) > *,
.articleCard > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.articleCard > :global(.__wab_flex-container) > picture > img,
.articleCard
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.componentEventInfo__eoQKy:global(.__wab_instance) {
  max-width: 100%;
}
.section__m3UMs {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 1px;
  background: var(--token-dhz6eQ3B9RE7);
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__m3UMs > * {
  grid-column: 4;
}
.articleCard2 {
  background: rgba(255, 255, 255, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}
.articleCard2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.articleCard2 > :global(.__wab_flex-container) > *,
.articleCard2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.articleCard2 > :global(.__wab_flex-container) > picture > img,
.articleCard2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.componentEventInfo__nMWkN:global(.__wab_instance) {
  max-width: 100%;
}
.section__maiK3 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 1px;
  background: var(--token-dhz6eQ3B9RE7);
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__maiK3 > * {
  grid-column: 4;
}
.articleCard3 {
  background: rgba(255, 255, 255, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}
.articleCard3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.articleCard3 > :global(.__wab_flex-container) > *,
.articleCard3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.articleCard3 > :global(.__wab_flex-container) > picture > img,
.articleCard3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.componentEventInfo___0HVoC:global(.__wab_instance) {
  max-width: 100%;
}
