.tabsetEventDetails {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.tabsetEventDetails > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.tabsetEventDetails > :global(.__wab_flex-container) > *,
.tabsetEventDetails > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabsetEventDetails > :global(.__wab_flex-container) > picture > img,
.tabsetEventDetails
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.tabGroup {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  z-index: 1;
  border-bottom: 3px solid var(--token-C5aY7m0H85JJ);
}
.tab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 0;
  padding: 20px;
}
.tab > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.tab > :global(.__wab_flex-container) > *,
.tab > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tab > :global(.__wab_flex-container) > picture > img,
.tab > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.cta {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 2px;
}
.cta > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.cta > :global(.__wab_flex-container) > *,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta > :global(.__wab_flex-container) > picture > img,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 5px;
}
.icon12X12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X12 > :global(.__wab_flex-container) > *,
.icon12X12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X12 > :global(.__wab_flex-container) > picture > img,
.icon12X12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__a0Ncd {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12.000000953674316px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__a0Ncd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__a0Ncd > :global(.__wab_flex-container) > *,
.svg__a0Ncd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__a0Ncd > :global(.__wab_flex-container) > picture > img,
.svg__a0Ncd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.navigationItem {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 142, 132, 1);
  position: relative;
  text-align: center;
  z-index: 3;
}
.icon12X122 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X122 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X122 > :global(.__wab_flex-container) > *,
.icon12X122 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X122 > :global(.__wab_flex-container) > picture > img,
.icon12X122
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__tkstD {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__tkstD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__tkstD > :global(.__wab_flex-container) > *,
.svg__tkstD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__tkstD > :global(.__wab_flex-container) > picture > img,
.svg__tkstD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.activeStyleBg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -20px;
  z-index: 1;
  right: 0;
  flex-shrink: 0;
  background: var(--token-qlu48Znff4s0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 0;
  min-height: 0;
}
.activeStyleBorder {
  display: block;
  position: absolute;
  width: auto;
  height: 3px;
  left: 0;
  top: auto;
  z-index: 3;
  flex-shrink: 0;
  background: var(--token-j3urVBXa9jtJ);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  right: 0;
  bottom: -3px;
}
.tab1 {
  background: #eff2f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 0;
  padding: 20px;
}
.tab1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.tab1 > :global(.__wab_flex-container) > *,
.tab1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tab1 > :global(.__wab_flex-container) > picture > img,
.tab1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.text___8Ayez {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
  text-align: center;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text___2L9Es {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(49, 51, 55, 1);
  position: relative;
  width: 800px;
}
.frame10 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding-bottom: 10px;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.listItem {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.listItem > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.listItem > :global(.__wab_flex-container) > *,
.listItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.listItem > :global(.__wab_flex-container) > picture > img,
.listItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.bullet {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 5px;
  padding-top: 8px;
}
.bullet > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.bullet > :global(.__wab_flex-container) > *,
.bullet > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bullet > :global(.__wab_flex-container) > picture > img,
.bullet
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.icon12X129 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X129 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X129 > :global(.__wab_flex-container) > *,
.icon12X129 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X129 > :global(.__wab_flex-container) > picture > img,
.icon12X129
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__ua6Rj {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__ua6Rj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__ua6Rj > :global(.__wab_flex-container) > *,
.svg__ua6Rj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__ua6Rj > :global(.__wab_flex-container) > picture > img,
.svg__ua6Rj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.unorderedListItem {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(51, 51, 51, 1);
  position: relative;
}
.listItem2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.listItem2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.listItem2 > :global(.__wab_flex-container) > *,
.listItem2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.listItem2 > :global(.__wab_flex-container) > picture > img,
.listItem2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.bullet2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 5px;
  padding-top: 8px;
}
.bullet2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.bullet2 > :global(.__wab_flex-container) > *,
.bullet2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bullet2 > :global(.__wab_flex-container) > picture > img,
.bullet2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.icon12X1210 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X1210 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X1210 > :global(.__wab_flex-container) > *,
.icon12X1210 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X1210 > :global(.__wab_flex-container) > picture > img,
.icon12X1210
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__k2FMr {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__k2FMr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__k2FMr > :global(.__wab_flex-container) > *,
.svg__k2FMr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__k2FMr > :global(.__wab_flex-container) > picture > img,
.svg__k2FMr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.unorderedListItem2 {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(51, 51, 51, 1);
  position: relative;
}
.listItem3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.listItem3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.listItem3 > :global(.__wab_flex-container) > *,
.listItem3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.listItem3 > :global(.__wab_flex-container) > picture > img,
.listItem3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.bullet3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 5px;
  padding-top: 8px;
}
.bullet3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.bullet3 > :global(.__wab_flex-container) > *,
.bullet3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bullet3 > :global(.__wab_flex-container) > picture > img,
.bullet3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.icon12X1211 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X1211 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X1211 > :global(.__wab_flex-container) > *,
.icon12X1211 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X1211 > :global(.__wab_flex-container) > picture > img,
.icon12X1211
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___9ORvp {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg___9ORvp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg___9ORvp > :global(.__wab_flex-container) > *,
.svg___9ORvp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg___9ORvp > :global(.__wab_flex-container) > picture > img,
.svg___9ORvp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.unorderedListItem3 {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(51, 51, 51, 1);
  position: relative;
}
