.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 750px;
  min-width: 0;
}
.hero {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    height: 900px;
    flex-shrink: 0;
  }
}
.freeBox__inJb2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 650px;
  z-index: 1;
  background: var(--token-Hivuri5dcJVd);
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  width: auto;
  flex-direction: column;
  display: flex;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__inJb2 {
    height: 100%;
    min-height: 0;
  }
}
.columns__tZAmF {
  display: flex;
  position: relative;
  width: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__tZAmF > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.columns__tZAmF > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tZAmF {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tZAmF > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yLTf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 64px 64px 96px;
}
.column__yLTf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column__yLTf > :global(.__wab_flex-container) > *,
.column__yLTf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yLTf > :global(.__wab_flex-container) > picture > img,
.column__yLTf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffff;
  font-size: 2.1em;
  font-weight: 300;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-TYi5l69jClib);
  font-size: var(--token-S4uXlc6hSXcG);
  min-width: 0;
}
.freeBox__zYdsI {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__zYdsI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zYdsI > :global(.__wab_flex-container) > *,
.freeBox__zYdsI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zYdsI > :global(.__wab_flex-container) > picture > img,
.freeBox__zYdsI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.asshButton__xNskv:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.asshButton___3SXrJ:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  width: auto;
}
.column__wb8Wk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wb8Wk {
    display: none;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  object-position: left 50%;
}
.img > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
.freeBox___3HeZh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 120px;
  max-width: 100%;
  background: var(--token-nOBcGT_YRXnw);
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.columns___0HspJ {
  display: flex;
  position: absolute;
  width: 100%;
  height: 108px;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 1440px;
  flex-direction: row;
  flex-wrap: nowrap;
  background: none;
  left: auto;
  top: -50px;
  z-index: 1;
  right: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns___0HspJ > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___0HspJ > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___0HspJ > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns___0HspJ > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0HspJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0HspJ > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uGvR1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  backdrop-filter: none;
  filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
}
.componentHeroLinkOld__vlXmp:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.column___0GbUm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  box-shadow: none;
  backdrop-filter: none;
  filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
}
.componentHeroLinkOld___6Mhwt:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.column__tkF4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  box-shadow: none;
  backdrop-filter: none;
  filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
}
.componentHeroLinkOld__sTksh:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.column__jVhcG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  box-shadow: none;
  backdrop-filter: none;
  filter: none;
  background: #ffffff00;
  min-width: 0;
  -webkit-backdrop-filter: none;
}
.componentHeroLinkOld__tsMtf:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
