.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.exploreDropdown {
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  left: 0;
  top: 0;
  z-index: 1;
  background: var(--token-YOr-x91EUcQe);
  margin-top: 40px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 32px;
}
.exploreDropdown > * {
  grid-column: 4;
}
.closeLink {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 64px;
  max-width: 100%;
  left: auto;
  top: 0px;
  z-index: 1;
  color: #ffffff;
  right: 0;
  padding: 32px;
}
.closeIcon2 {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.freeBox__uvU7P {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-TYi5l69jClib);
}
.freeBox__cjNz1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.asshDropdownLinkItem:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vf81G {
  position: sticky;
  background: var(--token-YOr-x91EUcQe);
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 40px;
  width: 100%;
  flex-direction: column;
  display: flex;
  padding-left: 64px;
  padding-right: 64px;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vf81G {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.topBar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.topBarLeft {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.topBarLeft > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .topBarLeft > * {
    grid-column: 4;
  }
}
.asshDropdownButtonExploreAssh:global(.__wab_instance) {
  height: 40px;
}
.topBarRight {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-end;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.topBarRight > * {
  grid-column: 4;
}
@media (max-width: 414px) {
  .topBarRight > * {
    grid-column: 4;
  }
}
.exploreAsshDropdownButton2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__eVah {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.storeIcon {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  height: 1em;
}
@media (max-width: 414px) {
  .storeIcon {
    display: none;
  }
}
.text__rpupS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}
.link__c7F6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.accountIcon {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  height: 1em;
}
.acctImage {
  object-fit: scale-down;
  max-width: 100%;
  width: 26px;
  flex-shrink: 0;
}
.acctImage > picture > img {
  object-fit: scale-down;
}
.text__squWm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
}
.freeBox__wjsNs {
  position: relative;
  background: var(--token-TYi5l69jClib);
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100px;
  width: 100%;
  flex-direction: column;
  display: flex;
  padding-left: 64px;
  padding-right: 64px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wjsNs {
    height: 80px;
    flex-shrink: 0;
    padding: 0px 16px;
  }
}
.topBar2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.topBarLeft2 {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.topBarLeft2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .topBarLeft2 > * {
    grid-column: 4;
  }
}
.exploreAsshDropdownButton3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__rpHz {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__rpHz > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__rpHz {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .img__rpHz {
    width: auto;
  }
}
.img__jMdrM {
  object-fit: cover;
  max-width: 100%;
  height: 35px;
  margin-left: 8px;
  object-position: left 50%;
}
.img__jMdrM > picture > img {
  object-fit: cover;
  object-position: left 50%;
}
@media (max-width: 1024px) {
  .img__jMdrM {
    height: 30px;
  }
}
@media (max-width: 414px) {
  .img__jMdrM {
    height: auto;
    display: none;
  }
}
.topBarRight2 {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-end;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.topBarRight2 > * {
  grid-column: 4;
}
@media (max-width: 414px) {
  .topBarRight2 > * {
    grid-column: 4;
  }
}
.exploreAsshDropdownButton4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__bpVEa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 42px;
  width: 400px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #15224c;
  width: 24px;
  height: 24px;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: 16px;
  margin-top: 16px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    margin: 0px;
  }
}
.asshDropdownButtonHamburger:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .asshDropdownButtonHamburger:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__quZvL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 2px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-sf-V7lIO1qMk);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 64px;
}
.freeBox__dzW4E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-TYi5l69jClib);
  min-width: 0;
  padding: 0px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dzW4E {
    display: none;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 44px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__aVyUu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  align-self: center;
  min-width: 0;
}
.link__kGwJc {
  color: var(--token-AKeYDy8WJ4OA);
  font-weight: 700;
  font-size: 1.5rem;
}
.freeBox__yQjb9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 2px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-sf-V7lIO1qMk);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 64px;
}
