.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1535px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1279px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1023px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 480px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 240px) {
  .root > * {
    grid-column: 4;
  }
}
.sectionAdPlaceholder___6Lpp8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.sectionBreadcrumbs:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.sectionInternalHeroTitleSectionV2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___1XpGv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1320px;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 10px;
  padding: 0px;
  margin: 70px 0px;
}
@media (max-width: 1535px) {
  .freeBox___1XpGv {
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-self: center;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 1279px) {
  .freeBox___1XpGv {
    padding: 0px 20px;
    margin: 50px 0px;
  }
}
@media (max-width: 1023px) {
  .freeBox___1XpGv {
    padding: 0px 20px;
    margin: 50px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___1XpGv {
    margin: 50px 0px 0px;
  }
}
.htmlContentfulHtmlLoader__jvf6:global(.__wab_instance) {
  max-width: 100%;
}
.sectionQuicklinksTable:global(.__wab_instance) {
  position: relative;
  margin: 25px 0px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .sectionQuicklinksTable:global(.__wab_instance) {
    margin-bottom: 30px;
  }
}
.sectionMidPageCtaSection:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__uwWh0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1320px;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 10px;
  padding: 0px;
  margin: 70px 0px;
}
@media (max-width: 1535px) {
  .freeBox__uwWh0 {
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 1279px) {
  .freeBox__uwWh0 {
    padding: 0px 20px;
    margin: 50px 0px;
  }
}
@media (max-width: 1023px) {
  .freeBox__uwWh0 {
    padding: 0px 20px;
    margin: 50px 0px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 1320px;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
  margin: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 1535px) {
  .columns {
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__r4Vig {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 30px 0px 0px;
}
.htmlContentfulHtmlLoader__bcxca:global(.__wab_instance) {
  max-width: 100%;
}
.column__rd6H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 30px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin: 20px 0px;
}
.blockQuoteBlock:global(.__wab_instance) {
  max-width: 100%;
}
.sectionAdPlaceholder__xBmhG:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.blockAsshMissionBlueBlock:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
