.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1535px) {
  .root {
    width: 100%;
    justify-self: flex-start;
    min-width: 0;
  }
}
.section7 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  min-width: 0;
  padding: 0px;
}
.frame2 {
  width: 1320px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
@media (max-width: 1535px) {
  .frame2 {
    width: 100%;
    min-width: 0;
    padding: 20px;
  }
}
.text {
  display: block;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 1320px;
}
@media (max-width: 1535px) {
  .text {
    width: auto;
  }
}
.row {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 1320px;
  flex-shrink: 0;
  flex-wrap: nowrap;
  column-gap: 30px;
  min-width: 0;
  --plsmc-rc-col-gap: 30px;
}
.row > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.row > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 1535px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    --plsmc-rc-col-gap: 40px;
  }
}
@media (max-width: 1535px) {
  .row > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1535px) {
  .row > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1279px) {
  .row {
    padding-left: var(--token-VRP-cd8LEU7y);
    padding-right: var(--token-VRP-cd8LEU7y);
    --plsmc-rc-col-gap: 40px;
  }
}
@media (max-width: 1023px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    --plsmc-rc-col-gap: 40px;
  }
}
@media (max-width: 1023px) {
  .row > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: 0;
    --plsmc-rc-col-gap: 40px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 480px) {
  .row {
    --plsmc-rc-col-gap: 40px;
  }
}
.column__pgAlg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 30px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__pgAlg {
    align-items: center;
    justify-content: center;
  }
}
.itemEventCardItemFullCard:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
}
.column__i6Z77 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.componentEventList:global(.__wab_instance) {
  max-width: 100%;
}
