.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.rootquote_full {
  align-items: center;
  justify-content: center;
}
.rootquote_singleLine {
  align-items: center;
  justify-content: center;
}
.calloutBar {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.30000001192092896));
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  border-radius: 10px;
}
.calloutBarquote_singleLine {
  filter: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 0px;
}
.frame6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
  padding: 0px 30px;
}
.frame6quote_singleLine {
  align-items: flex-start;
  justify-content: center;
  border-left: 5px solid var(--token-YOr-x91EUcQe);
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
}
.img > picture > img {
  object-fit: cover;
}
.imgquote_singleLine {
  display: none;
}
.text___3AtRy {
  display: block;
  font-size: 22px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32px;
  color: var(--token-py5R6wetCsNw);
  position: relative;
  width: 290px;
}
@media (max-width: 1023px) {
  .text___3AtRy {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 240px) {
  .text___3AtRy {
    width: 100%;
    min-width: 0;
  }
}
.textquote_singleLine___3AtRyHh4AV {
  text-align: left;
  width: 100%;
  min-width: 0;
}
.text__uUlOi {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
  margin: 0px 0px 20px;
}
.textquote_singleLine__uUlOiHh4AV {
  display: none;
}
.frame7 {
  background: rgba(244, 244, 235, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
  padding: 30px;
}
.frame7quote_singleLine {
  display: none;
}
.navItemSimple {
  height: 20px;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  flex-shrink: 0;
  border-radius: 2px;
}
.buttonPrimary:global(.__wab_instance) {
  max-width: 100%;
}
.text___7QtU3 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
