.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.link__bh5Rp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 15px;
  border-bottom: 5px solid var(--token-WpPBw5f93wEg);
}
.text___95OF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-H7ML1IxERkQO);
  min-width: 0;
}
.link___5NEy {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: none;
  min-width: 0;
  display: none;
  padding: 15px;
  border-bottom: 5px solid var(--token-WpPBw5f93wEg);
}
.text__mWy9T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-H7ML1IxERkQO);
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  flex-shrink: 1;
}
.buttonPrimary:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-width: 0;
}
