.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.desktopMenu {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.frame3 {
  background: var(--token-nOBcGT_YRXnw);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  width: 100%;
  row-gap: 10px;
  min-width: 0;
}
.frame3menus_megaMenuOpen {
  background: #1f3b55;
}
.frame4 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 1320px;
  row-gap: 10px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .frame4 {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame4 {
    display: none;
  }
}
.exploreOpen {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  cursor: pointer;
  padding: 8px 15px;
}
.layer1 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__pnvhd {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.000882112595718354px, -0.281369686126709px);
  width: 9.516366958618164px;
  height: 17.655651092529297px;
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  margin-right: 0px;
}
.svg__uMDfY {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.1129617691040039px, -0.09339141845703125px);
  width: 16.426292419433594px;
  height: 1em;
  display: block;
  position: absolute;
  top: 12px;
  left: 7px;
}
.svg__kn6Tg {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.43856143951416016px, 0.0006007530028000474px);
  width: 16.56099510192871px;
  height: 12.7701416015625px;
  display: block;
  position: absolute;
  top: 0px;
  left: 7px;
}
.text__kINvK {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.svg__oBSwt {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 8px;
  height: 5px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.exploreAsshMenu {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.15000000596046448));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(-1) scaleZ(1);
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.exploreAsshMenumenus_exploreOpen {
  top: 41px;
  left: auto;
  right: 0;
  width: 320px;
  z-index: 3;
  opacity: 1;
  transform: translateX(0px) translateY(0%) translateZ(0px) scaleX(1) scaleY(1)
    scaleZ(1);
  flex-shrink: 0;
  display: flex;
}
.exploreAsshMenumenus_allClosed {
  height: 0px;
}
.navItemMenu75 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
.buttonPrimary__cPtLt:global(.__wab_instance) {
  max-width: 100%;
}
.frame5 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1320px;
  min-width: 0;
}
@media (max-width: 1023px) {
  .frame5 {
    width: 100%;
    padding-left: 10px;
    min-width: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame5 {
    display: none;
  }
}
.logoSection {
  width: 356px;
  height: 70px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__jhWqV {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(-0.24025726318359375px, -0.49166297912597656px);
  width: 115.6878890991211px;
  height: 31.225452423095703px;
  display: block;
  position: absolute;
  top: 20px;
  left: 76px;
}
.svg__vNjOu {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(0.3862457275390625px, -0.4626293182373047px);
  width: 137.62245178222656px;
  height: 12.417543411254883px;
  display: block;
  position: absolute;
  top: 21px;
  left: 218px;
}
.svg__ul7Ym {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(-0.3026580810546875px, -0.05867767333984375px);
  width: 130.8468017578125px;
  height: 12.417543411254883px;
  display: block;
  position: absolute;
  top: 37px;
  left: 219px;
}
.svg__jkKia {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  transform: translate(-0.0024864221923053265px, -0.07066154479980469px);
  width: 27.442344665527344px;
  height: 51.49565887451172px;
  display: block;
  position: absolute;
  top: 8px;
  left: 0px;
}
.svg___3Igue {
  object-fit: cover;
  max-width: 100%;
  color: #2e5774;
  transform: translate(-0.139862060546875px, -0.2723884582519531px);
  width: 47.368473052978516px;
  height: 35.27928924560547px;
  display: block;
  position: absolute;
  top: 35px;
  left: 20px;
}
.svg__u7RJ {
  object-fit: cover;
  max-width: 100%;
  color: #839a43;
  transform: translate(0.4505805969238281px, 0.0017521963454782963px);
  width: 47.756919860839844px;
  height: 37.24624252319336px;
  display: block;
  position: absolute;
  top: 0px;
  left: 21px;
}
.svg__grOha {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(0.0336456298828125px, -0.2038288116455078px);
  width: 1px;
  height: 36px;
  display: block;
  position: absolute;
  top: 25.71%;
  left: 57.58%;
}
.frame6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}
.frame7 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  min-height: 0;
}
.navItemMenu4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
.buttonPrimary___8R0Ti:global(.__wab_instance) {
  max-width: 100%;
}
.menuBar {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-suq4UeRS5JaX);
  height: 20px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar > * {
  grid-column: 4;
}
@media (max-width: 1279px) {
  .menuBar > * {
    grid-column: 4;
  }
}
.navItemMenu2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}
.buttonPrimary___5HsPw:global(.__wab_instance) {
  max-width: 100%;
}
.menuBar3 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-suq4UeRS5JaX);
  height: 20px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar3 > * {
  grid-column: 4;
}
.frame1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}
.navItemMenu3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
.buttonPrimary__rNnO:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vg7Rq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
}
.freeBoxmenus_userOpen__vg7RqoLlK9 {
  column-gap: 15px;
  row-gap: 0px;
}
.frame8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.userIcon {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.itemMenuCurrentUser__ktHv:global(.__wab_instance) {
  max-width: 100%;
}
.userMenu {
  background: rgba(255, 255, 255, 1);
  filter: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(-1) scaleZ(1);
  box-shadow: 0px 4px 4px 0px #00000026;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.userMenumenus_userOpen {
  left: auto;
  top: 50px;
  position: absolute;
  right: 40px;
  width: 320px;
  transform: translateX(0px) translateY(0%) translateZ(0px) scaleX(1) scaleY(1)
    scaleZ(1);
  opacity: 1;
  flex-shrink: 0;
  display: flex;
}
.userMenumenus_allClosed {
  opacity: 0;
  height: 0px;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(-1) scaleZ(1);
}
.navItemMenu76 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 320px;
  padding: 15px;
}
.navItemMenu76menus_userOpen {
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  padding: 8px;
}
.buttonPrimary__cy4ZK:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__lGvc4:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary___8XOnc:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary___9NGhY:global(.__wab_instance) {
  max-width: 100%;
}
.menuFrame {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-top: 1px solid var(--token-C5aY7m0H85JJ);
  border-bottom: 1px solid var(--token-C5aY7m0H85JJ);
}
@media (max-width: 1535px) {
  .menuFrame {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1023px) {
  .menuFrame {
    height: auto;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: sticky;
    transform: none;
    width: auto;
    max-height: 100vh;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    display: flex;
    border-top: 1px solid var(--token-C5aY7m0H85JJ);
    border-bottom: 1px solid var(--token-C5aY7m0H85JJ);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .menuFrame {
    display: none;
  }
}
.navigation {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1320px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .navigation {
    width: 100%;
    padding-left: 10px;
    min-width: 0;
  }
}
.navItem {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  column-gap: 5px;
  cursor: pointer;
  min-height: 0;
  border-radius: 2px;
}
.itemMegaMenuItem__xq0QY:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.navMenuResources {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: var(--token-_oibR2YYXaCj);
  column-gap: 5px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 2px;
  padding: 15px;
}
.itemMegaMenuItem__pG9T:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.resourcesMenu {
  background: rgba(255, 255, 255, 1);
  filter: blur(0px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: auto;
  top: 51px;
  z-index: 1;
  position: absolute;
  right: -5px;
  bottom: auto;
  opacity: 1;
  transform: translateX(0px) translateY(0%) translateZ(0px) scaleX(1) scaleY(1)
    scaleZ(1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 4px 4px 0px #00000026;
  flex-shrink: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.resourcesMenumenus_resourcesOpen {
  display: flex;
}
.resourcesMenumenus_allClosed {
  height: 0px;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(0) scaleZ(1);
}
.navItemMenu74 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
.buttonPrimary___8Dc0:global(.__wab_instance) {
  max-width: 100%;
}
.itemMegaMenuDropdown:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  opacity: 0;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(0) scaleZ(1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  height: 0px;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
@media (max-width: 1535px) {
  .itemMegaMenuDropdown:global(.__wab_instance) {
    display: flex;
  }
}
.itemMegaMenuDropdownmenus_megaMenuOpen:global(.__wab_instance) {
  opacity: 1;
  transform: translateX(0px) translateY(0%) translateZ(0px) scaleX(1) scaleY(1)
    scaleZ(1);
  height: auto;
}
.mobileHeader {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 20;
  min-width: 0;
}
.mobileHeadermobileMenu_mobileOpen {
  left: auto;
  top: auto;
  position: relative;
  width: 100%;
  right: auto;
  min-width: 0;
  display: flex;
}
.mobileHeadermobileMenu_mobileClosed {
  display: flex;
}
.header2 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.15000000596046448));
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame45 {
  background: rgba(31, 59, 85, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 2px;
  row-gap: 10px;
}
.navigationItem75 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  padding: 5px 15px;
}
.layer13 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__ldfd7 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.000882112595718354px, -0.281369686126709px);
  width: 9.516366958618164px;
  height: 17.655651092529297px;
  position: absolute;
  top: 3px;
  left: 0px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__ldfd7 {
    display: block;
  }
}
.svg___0BD6 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.1129617691040039px, -0.09339141845703125px);
  width: 16.426292419433594px;
  height: 12.095754623413086px;
  position: absolute;
  top: 12px;
  left: 7px;
  display: none;
}
@media (max-width: 1023px) {
  .svg___0BD6 {
    display: block;
  }
}
.svg__fCsty {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.43856143951416016px, 0.0006007530028000474px);
  width: 16.56099510192871px;
  height: 12.7701416015625px;
  position: absolute;
  top: 0px;
  left: 7px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__fCsty {
    display: block;
  }
}
.text__wP02Z {
  display: block;
  font-size: 13px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__dRfT {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 8px;
  height: 5px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (max-width: 1023px) {
  .svg__dRfT {
    display: block;
  }
}
.frame46 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
  padding: 5px 16px 10px;
}
.frame47 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
}
.frame9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}
@media (max-width: 240px) {
  .frame9 {
    justify-content: space-between;
  }
}
.frame10 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  min-height: 0;
}
.navItemMenu5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
@media (max-width: 240px) {
  .navItemMenu5 {
    display: none;
  }
}
.buttonPrimary__d2Q4F:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimarymobileMenu_mobileOpen__d2Q4FsuzHc:global(.__wab_instance) {
  display: none;
}
.navItemMenu8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
@media (max-width: 240px) {
  .navItemMenu8 {
    display: none;
  }
}
.buttonPrimary__phI2E:global(.__wab_instance) {
  max-width: 100%;
}
.menuBar2 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-suq4UeRS5JaX);
  height: 20px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar2 > * {
  grid-column: 4;
}
@media (max-width: 1279px) {
  .menuBar2 > * {
    grid-column: 4;
  }
}
@media (max-width: 240px) {
  .menuBar2 {
    display: none;
  }
}
@media (max-width: 240px) {
  .menuBar2 > * {
    grid-column: 4;
  }
}
.navItemMenu6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}
@media (max-width: 240px) {
  .navItemMenu6 {
    display: none;
  }
}
.buttonPrimary__wTOL:global(.__wab_instance) {
  max-width: 100%;
}
.menuBar4 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-suq4UeRS5JaX);
  height: 20px;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.menuBar4 > * {
  grid-column: 4;
}
@media (max-width: 240px) {
  .menuBar4 {
    display: none;
  }
}
@media (max-width: 240px) {
  .menuBar4 > * {
    grid-column: 4;
  }
}
.frame2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}
.navItemMenu7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  border-radius: 2px;
}
.buttonPrimary__phoKz:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___56Yyl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
}
.freeBoxmenus_userOpen___56YyloLlK9 {
  column-gap: 15px;
  row-gap: 0px;
}
.frame11 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.userIcon2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.itemMenuCurrentUser__vPmnW:global(.__wab_instance) {
  max-width: 100%;
}
.userMenu2 {
  background: rgba(255, 255, 255, 1);
  filter: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(-1) scaleZ(1);
  box-shadow: 0px 4px 4px 0px #00000026;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.userMenu2menus_userOpen {
  left: auto;
  top: 50px;
  position: absolute;
  right: 40px;
  width: 320px;
  transform: translateX(0px) translateY(0%) translateZ(0px) scaleX(1) scaleY(1)
    scaleZ(1);
  opacity: 1;
  flex-shrink: 0;
  display: flex;
}
.userMenu2menus_allClosed {
  opacity: 0;
  height: 0px;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(-1) scaleZ(1);
}
.navItemMenu77 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 320px;
  padding: 15px;
}
.navItemMenu77menus_userOpen {
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  padding: 8px;
}
.buttonPrimary___79XkW:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__fJ51B:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__txWbt:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__nVgfj:global(.__wab_instance) {
  max-width: 100%;
}
.frame51 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.asshLogo {
  width: 254px;
  height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .asshLogo {
    width: 150px;
    flex-shrink: 0;
  }
}
.svg__we8Mi {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(0.053302764892578125px, -0.06547355651855469px);
  width: 82.5413589477539px;
  height: 22.30389404296875px;
  position: absolute;
  top: 14px;
  left: 54px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__we8Mi {
    display: block;
  }
}
.svgmobileMenu_mobileOpen__we8MIsuzHc {
  display: block;
}
.svgmobileMenu_mobileClosed__we8MIn6O08 {
  display: block;
}
.svg___3LZan {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(-0.1851348876953125px, -0.33045005798339844px);
  width: 98.19103240966797px;
  height: 8.869622230529785px;
  position: absolute;
  top: 15px;
  left: 156px;
  display: none;
}
@media (max-width: 1023px) {
  .svg___3LZan {
    display: block;
  }
}
.svgmobileMenu_mobileOpen___3LZaNsuzHc {
  display: block;
}
.svgmobileMenu_mobileClosed___3LZaNn6O08 {
  display: block;
}
.svg__z57FA {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(0.0368804931640625px, 0.38665771484375px);
  width: 93.35698699951172px;
  height: 8.869674682617188px;
  position: absolute;
  top: 26px;
  left: 156px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__z57FA {
    display: block;
  }
}
.svgmobileMenu_mobileOpen__z57FAsuzHc {
  display: block;
}
.svgmobileMenu_mobileClosed__z57FAn6O08 {
  display: block;
}
.svg__kIMv5 {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  transform: translate(-0.0017740203766152263px, -0.33618640899658203px);
  width: 19.579666137695312px;
  height: 36.78261947631836px;
  position: absolute;
  top: 6px;
  left: 0px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__kIMv5 {
    display: block;
  }
}
.svgmobileMenu_mobileOpen__kIMv5SuzHc {
  display: block;
}
.svgmobileMenu_mobileClosed__kIMv5N6O08 {
  display: block;
}
.svg__hQ34T {
  object-fit: cover;
  max-width: 100%;
  color: #2e5774;
  transform: translate(0.16987323760986328px, -0.1945648193359375px);
  width: 33.79660415649414px;
  height: 25.199493408203125px;
  position: absolute;
  top: 25px;
  left: 14px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__hQ34T {
    display: block;
  }
}
.svgmobileMenu_mobileOpen__hQ34TsuzHc {
  display: block;
}
.svgmobileMenu_mobileClosed__hQ34Tn6O08 {
  display: block;
}
.svg__oLq1 {
  object-fit: cover;
  max-width: 100%;
  color: #839a43;
  transform: translate(0.3046274185180664px, 0.0012515687849372625px);
  width: 34.07375717163086px;
  height: 26.60445785522461px;
  position: absolute;
  top: 0px;
  left: 15px;
  display: none;
}
@media (max-width: 1023px) {
  .svg__oLq1 {
    display: block;
  }
}
.svgmobileMenu_mobileOpen__oLq1SuzHc {
  display: block;
}
.svgmobileMenu_mobileClosed__oLq1N6O08 {
  display: block;
}
.mobileMenu2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.itemMobileMenu:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .itemMobileMenu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.itemMobileMenumenus_megaMenuOpen:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .itemMobileMenumenus_megaMenuOpen:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.itemMobileMenumobileMenu_mobileOpen:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .itemMobileMenumobileMenu_mobileOpen:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.itemMobileMenumobileMenu_mobileClosed:global(.__wab_instance) {
  flex-shrink: 0;
}
.mobileMenuFrame {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-top: 1px solid var(--token-C5aY7m0H85JJ);
  border-bottom: 1px solid var(--token-C5aY7m0H85JJ);
}
@media (max-width: 1535px) {
  .mobileMenuFrame {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1023px) {
  .mobileMenuFrame {
    height: auto;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: sticky;
    transform: none;
    width: auto;
    max-height: 100vh;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    display: none;
    border-top: 1px solid var(--token-C5aY7m0H85JJ);
    border-bottom: 1px solid var(--token-C5aY7m0H85JJ);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .mobileMenuFrame {
    display: none;
  }
}
@media (max-width: 1023px) {
  .mobileMenuFramemenus_megaMenuOpen {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-x: visible;
    overflow-y: auto;
    max-height: 90vh;
  }
}
.mobileMenuFramemobileMenu_mobileOpen {
  left: 0px;
  top: 160px;
  z-index: 1;
  position: sticky;
  width: auto;
  display: flex;
}
.mobileMenuFramemobileMenu_mobileClosed {
  width: 100%;
  opacity: 0;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(0) scaleZ(1);
  height: 0px;
  min-width: 0;
  flex-shrink: 0;
  display: flex;
}
.navigation2 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1320px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
@media (max-width: 1023px) {
  .navigation2 {
    width: 100%;
    padding-left: 10px;
    min-width: 0;
  }
}
@media (max-width: 1023px) {
  .navigation2menus_megaMenuOpen {
    transform: translateX(0px) translateY(0%) translateZ(0px) scaleX(1)
      scaleY(1) scaleZ(1);
    display: flex;
    flex-direction: column;
    height: auto;
    column-gap: 0px;
    padding: 0px;
  }
}
.navigation2mobileMenu_mobileOpen {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  column-gap: 0px;
  min-height: 0;
}
@media (max-width: 1023px) {
  .navigation2mobileMenu_mobileOpen {
    padding: 0px;
  }
}
.navigation2mobileMenu_mobileClosed {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  column-gap: 0px;
}
.navItem2 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  column-gap: 5px;
  cursor: pointer;
  min-height: 0;
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .navItem2menus_megaMenuOpen {
    width: 100%;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.navItem2mobileMenu_mobileOpen {
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.navItem2mobileMenu_mobileClosed {
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.itemMobileMegaMenuItem:global(.__wab_instance) {
  max-width: 100%;
}
.itemMobileMegaMenuItemmobileMenu_mobileOpen:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.navMenuResources2 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: var(--token-_oibR2YYXaCj);
  column-gap: 5px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 2px;
  padding: 15px;
}
@media (max-width: 1023px) {
  .navMenuResources2menus_megaMenuOpen {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.navMenuResources2mobileMenu_mobileOpen {
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.navMenuResources2mobileMenu_mobileClosed {
  column-gap: 0px;
  width: 100%;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.itemMegaMenuItem___5SHRf:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.itemMegaMenuItemmobileMenu_mobileClosed___5SHRfn6O08:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.resourcesMenu2 {
  background: rgba(255, 255, 255, 1);
  filter: blur(0px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 320px;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: auto;
  top: 51px;
  z-index: 1;
  position: absolute;
  right: -5px;
  bottom: auto;
  opacity: 1;
  transform: translateX(0px) translateY(0%) translateZ(0px) scaleX(1) scaleY(1)
    scaleZ(1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 4px 4px 0px #00000026;
  flex-shrink: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.resourcesMenu2menus_resourcesOpen {
  display: flex;
}
.resourcesMenu2menus_allClosed {
  height: 0px;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(0) scaleZ(1);
}
.resourcesMenu2mobileMenu_mobileOpen {
  display: none;
}
.navItemMenu78 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
.buttonPrimary___5LGFj:global(.__wab_instance) {
  max-width: 100%;
}
