.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1535px) {
  .root {
    padding: 0px;
  }
}
@media (max-width: 1535px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1279px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1023px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 480px) {
  .root > * {
    grid-column: 4;
  }
}
.itemAd__vOmna:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.sectionInternalHeroTitleSectionV2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___6Srch {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 1320px;
  row-gap: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
  margin: 70px 0px;
}
@media (max-width: 1279px) {
  .freeBox___6Srch {
    padding: 0px 20px;
    margin: 50px 0px;
  }
}
@media (max-width: 1023px) {
  .freeBox___6Srch {
    padding: 0px 20px;
    margin: 50px 0px;
  }
}
.htmlContentfulHtmlLoader__dhycq:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 50px;
}
.sectionAccordionSectionTemplate:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.sectionMidPageCtaSection:global(.__wab_instance) {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.freeBox__wqnRh {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 1320px;
  row-gap: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  margin: 70px 0px;
}
@media (max-width: 1279px) {
  .freeBox__wqnRh {
    padding: 0px 20px;
    margin: 50px 0px;
  }
}
@media (max-width: 1023px) {
  .freeBox__wqnRh {
    padding: 0px 20px;
    margin: 50px 0px;
  }
}
.itemSectionTitleDescriptionItem:global(.__wab_instance) {
  max-width: 100%;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 1023px) {
  .columns {
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kvKhw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1023px) {
  .embedHtml:global(.__wab_instance) {
    width: 442px;
  }
}
.column__bTeBx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.htmlContentfulHtmlLoader__m8VrH:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.buttonPrimary:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
}
.itemAd__nwpcc:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.blockAsshMissionBlueBlock:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
