.social3 {
  box-shadow: none;
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.buttonPrimary__gyqkb:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary___8SqEr:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__guuK:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary___1Gxhq:global(.__wab_instance) {
  max-width: 100%;
}
.buttonPrimary__ouBsd:global(.__wab_instance) {
  max-width: 100%;
}
