.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.frame2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  bottom: auto;
  max-width: 1320px;
  min-width: 0;
}
@media (max-width: 1279px) {
  .frame2 {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame2 {
    padding-right: 15px;
  }
}
.h2 {
  display: block;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 100%;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    width: 100%;
    min-width: 0;
  }
}
.text {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32px;
  color: #444444;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text {
    width: 100%;
    min-width: 0;
  }
}
