.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.frame3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 70px;
  column-gap: 70px;
  min-width: 0;
}
.column {
  background: url("/plasmic/assh_home/images/column4.jpg") center center / cover no-repeat;
  height: 350px;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 10px;
}
.columnrightImage {
  width: 100%;
  min-width: 0;
}
.frame7 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 30px;
}
.frame7rightImage {
  align-items: flex-start;
  justify-content: center;
}
.text__aS8AM {
  display: block;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
}
.text__zZ3Gx {
  display: block;
  font-size: 22px;
  letter-spacing: 0em;
  line-height: 32px;
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
