.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1440px) {
  .root {
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 1024px) {
  .root > * {
    grid-column: 4;
  }
}
.itemAd__cq6He:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.sectionInternalHeroTitleSectionV2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__l4R0D {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1320px;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 10px;
  padding: 0px 25px 20px;
}
@media (max-width: 1440px) {
  .freeBox__l4R0D {
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    justify-self: flex-start;
  }
}
.htmlContentfulHtmlLoader__yNyMh:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 50px;
}
.freeBox__cnHsm {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.freeBox__cnHsm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__cnHsm > :global(.__wab_flex-container) > *,
.freeBox__cnHsm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cnHsm > :global(.__wab_flex-container) > picture > img,
.freeBox__cnHsm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.sectionMidPageCtaSection:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__ewZy {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  max-width: 1320px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.freeBox__ewZy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__ewZy > :global(.__wab_flex-container) > *,
.freeBox__ewZy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ewZy > :global(.__wab_flex-container) > picture > img,
.freeBox__ewZy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.itemSectionTitleDescriptionItem:global(.__wab_instance) {
  max-width: 100%;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rxrIt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .embedHtml:global(.__wab_instance) {
    width: 442px;
  }
}
.column__lzlnI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 15px;
}
.htmlContentfulHtmlLoader___1GOzv:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.buttonPrimary:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
}
.itemAd__pwP87:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.blockAsshMissionBlueBlock:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
