.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1535px) {
  .root {
    align-items: center;
    justify-content: flex-start;
  }
}
.frame6 {
  background: rgba(244, 244, 235, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  flex-shrink: 1;
  max-width: 100%;
  flex-wrap: wrap;
  column-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
  border-radius: 10px;
  padding: 15px;
}
.frame6 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.frame6 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (max-width: 1535px) {
  .frame6 {
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 0px;
    --plsmc-rc-col-gap: 20px;
    padding: 15px;
  }
}
@media (max-width: 1535px) {
  .frame6 > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1535px) {
  .frame6 > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1279px) {
  .frame6 {
    --plsmc-rc-col-gap: 20px;
  }
}
@media (max-width: 1023px) {
  .frame6 {
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame6 {
    max-width: 760px;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .frame6 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 480px) {
  .frame6 {
    --plsmc-rc-col-gap: 20px;
  }
}
.column__us6HX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 10px;
}
@media (max-width: 1535px) {
  .column__us6HX {
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
  }
}
.text {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgba(49, 51, 55, 1);
  position: relative;
  width: 100%;
  line-height: 1.75;
  white-space: pre-wrap;
  text-align: left;
  height: auto;
  padding-top: 0px;
  min-width: 0;
}
@media (max-width: 1535px) {
  .text {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1023px) {
  .text {
    max-width: 100%;
    margin: 0px 0px 15px;
  }
}
.column__ooOuj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.buttonPrimary:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-width: 0;
}
@media (max-width: 1535px) {
  .buttonPrimary:global(.__wab_instance) {
    margin-bottom: 0px;
    height: 100%;
    min-height: auto;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .buttonPrimary:global(.__wab_instance) {
    margin-top: 15px;
  }
}
