.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.freeBox___3LWzw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.navigationItem2 {
  display: block;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(49, 51, 55, 1);
  width: auto;
  text-align: left;
}
.navigationItem2unnamedGroupOfVariants_footer {
  font-size: 12px;
  padding-bottom: 0px;
  line-height: 15px;
}
.navigationItem2unnamedGroupOfVariants_hover {
  font-size: 12px;
  color: var(--token-YOr-x91EUcQe);
  line-height: 15px;
}
.root:hover .navigationItem2 {
  color: var(--token-YOr-x91EUcQe);
}
.freeBox__dnVbD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-py5R6wetCsNw);
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
