.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.rootquote_full {
  align-items: center;
  justify-content: center;
}
.rootquote_singleLine {
  align-items: center;
  justify-content: center;
}
.calloutBar {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.30000001192092896));
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  border-radius: 10px;
}
.calloutBarquote_singleLine {
  filter: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 0px;
}
.frame6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 30px;
}
.frame6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame6 > :global(.__wab_flex-container) > *,
.frame6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6 > :global(.__wab_flex-container) > picture > img,
.frame6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.frame6quote_singleLine {
  border-left: 5px solid var(--token-YOr-x91EUcQe);
}
.frame6quote_singleLine > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 100px;
}
.img > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img > :global(.__wab_flex-container) > *,
.img > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img > :global(.__wab_flex-container) > picture > img,
.img > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 100px;
}
.img > picture > img {
  object-fit: cover;
}
.imgquote_singleLine {
  display: none;
}
.imgquote_singleLine {
  display: none;
}
.text___3AtRy {
  display: block;
  font-size: 22px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 290px;
}
.textquote_singleLine___3AtRyHh4AV {
  text-align: left;
  width: 100%;
  min-width: 0;
}
.text__uUlOi {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
}
.textquote_singleLine__uUlOiHh4AV {
  display: none;
}
.frame7 {
  background: rgba(244, 244, 235, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 30px;
}
.frame7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame7 > :global(.__wab_flex-container) > *,
.frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame7 > :global(.__wab_flex-container) > picture > img,
.frame7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.frame7quote_singleLine {
  display: none;
}
.navItemSimple {
  height: 20px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 2px;
}
.navItemSimple > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.navItemSimple > :global(.__wab_flex-container) > *,
.navItemSimple > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navItemSimple > :global(.__wab_flex-container) > picture > img,
.navItemSimple
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.icon12X12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X12 > :global(.__wab_flex-container) > *,
.icon12X12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X12 > :global(.__wab_flex-container) > picture > img,
.icon12X12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__gde6U {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__gde6U > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__gde6U > :global(.__wab_flex-container) > *,
.svg__gde6U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__gde6U > :global(.__wab_flex-container) > picture > img,
.svg__gde6U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.navigationItem {
  display: block;
  flex-grow: 1;
  font-size: 20px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 142, 132, 1);
  position: relative;
}
.icon12X122 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X122 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X122 > :global(.__wab_flex-container) > *,
.icon12X122 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X122 > :global(.__wab_flex-container) > picture > img,
.icon12X122
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__bsXz5 {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__bsXz5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__bsXz5 > :global(.__wab_flex-container) > *,
.svg__bsXz5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__bsXz5 > :global(.__wab_flex-container) > picture > img,
.svg__bsXz5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text___7QtU3 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
