.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1440px) {
  .root {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
  }
}
.freeBox__rSzDg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Hivuri5dcJVd);
  min-width: 0;
}
.columns {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 1320px;
  flex-direction: row;
  flex-wrap: nowrap;
  background: none;
  min-height: 150px;
  column-gap: 50px;
  min-width: 0;
  --plsmc-rc-col-gap: 50px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
@media (max-width: 1440px) {
  .columns {
    --plsmc-rc-col-gap: 50px;
  }
}
@media (max-width: 1024px) {
  .columns {
    --plsmc-rc-col-gap: 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dNeJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__xgCuB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xgCuB {
    height: 300px;
    flex-shrink: 0;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.column__ecu2U {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.frame7 {
  width: 610px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 70px;
  padding-top: 70px;
  row-gap: 20px;
}
@media (max-width: 1440px) {
  .frame7 {
    align-self: auto;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 0px;
    min-width: 0;
  }
}
.frame8 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}
.h2 {
  display: block;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 44px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.buttonPrimary:global(.__wab_instance) {
  max-width: 100%;
  margin: 10px 0px;
}
