.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1023px) {
  .freeBox {
    flex-direction: column;
    height: auto;
    column-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox_4 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
}
.calloutBox {
  width: 100%;
  height: 123px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transform: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 0px 10px 0px #00000066;
  row-gap: 10px;
  min-width: 0;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 10px;
  padding: 0px;
}
@media (max-width: 1279px) {
  .calloutBox {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1023px) {
  .calloutBox {
    width: 100%;
    row-gap: 0px;
    flex-direction: column-reverse;
    height: 100%;
    column-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .calloutBox {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    row-gap: 0px;
    column-gap: 0px;
    min-width: 0;
  }
}
.calloutBox_1 {
  border-radius: 10px 0px 0px 10px;
}
@media (max-width: 1535px) {
  .calloutBox_1 {
    border-radius: 10px 10px 0px 0px;
  }
}
.calloutBox_4 {
  border-radius: 0px 10px 10px 0px;
}
.root:hover .calloutBox {
  box-shadow: 0px 10px 10px 0px #00000066;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root:hover .calloutBox {
    box-shadow: none;
    border-radius: 0px;
  }
}
.container {
  background: rgba(0, 142, 132, 1);
  filter: none;
  display: flex;
  position: absolute;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: auto;
  right: 0;
  bottom: -2px;
  width: 100%;
  height: 30px;
  row-gap: 30px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 1279px) {
  .container {
    z-index: 4;
  }
}
@media (max-width: 1023px) {
  .container {
    bottom: auto;
    height: 5px;
    z-index: 2;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    height: 3px;
    flex-shrink: 0;
  }
}
.container_1 {
  border-radius: 0px 0px 0px 10px;
}
@media (max-width: 1279px) {
  .container_1 {
    z-index: 1;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container_1 {
    height: 5px;
    flex-shrink: 0;
    border-radius: 0px;
  }
}
.container_2 {
  background: var(--token-WpPBw5f93wEg);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container_2 {
    height: 5px;
    flex-shrink: 0;
  }
}
@media (max-width: 1023px) {
  .container_3 {
    z-index: 3;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container_3 {
    height: 5px;
    flex-shrink: 0;
  }
}
.container_4 {
  background: var(--token-WpPBw5f93wEg);
  border-radius: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .container_4 {
    height: 5px;
    flex-shrink: 0;
  }
}
.root:hover .container {
  padding-bottom: 5px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root:hover .container {
    height: 5px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.root_1:hover .container_1 {
  border-radius: 0px 0px 0px 10px;
}
.root_4:hover .container_4 {
  border-radius: 0px 0px 10px;
}
.inner {
  background: rgba(255, 255, 255, 1);
  display: flex;
  position: sticky;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  transform: translateX(0px) translateY(-5px) translateZ(0px);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  row-gap: 10px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 30px 25px;
}
@media (max-width: 1279px) {
  .inner {
    z-index: 5;
  }
}
@media (max-width: 1023px) {
  .inner {
    position: relative;
    left: auto;
    top: auto;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    height: 100px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .inner {
    position: relative;
    left: auto;
    top: auto;
    row-gap: 0px;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    column-gap: 0px;
  }
}
.inner_1 {
  border-top-left-radius: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .inner_1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.inner_4 {
  border-top-right-radius: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .inner_4 {
    border-top-right-radius: 0px;
  }
}
.root:hover .inner {
  transform: translateX(0px) translateY(-15px) translateZ(0px);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root:hover .inner {
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
}
.root_1:hover .inner_1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-width: 1px;
}
.root_2:hover .inner_2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.root_3:hover .inner_3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.root_4:hover .inner_4 {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.heading {
  display: block;
  flex-grow: 1;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(49, 51, 55, 1);
  position: relative;
  height: 100%;
  min-height: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 30px;
  padding-left: 0;
  padding-right: 0;
  height: 30px;
  background: #008e8426;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 50px;
}
.section > * {
  grid-column: 4;
}
@media (max-width: 1279px) {
  .section > * {
    grid-column: 4;
  }
}
.section_1 > * {
  grid-column: 4;
}
.section_2 {
  background: #839a4326;
}
.section_2 > * {
  grid-column: 4;
}
.section_4 {
  background: #839a4326;
}
.section_4 > * {
  grid-column: 4;
}
.svg {
  object-fit: cover;
  color: var(--token-YOr-x91EUcQe);
  width: 12px;
  justify-self: center;
  position: sticky;
  left: auto;
  top: 41px;
  z-index: 1;
  height: 1em;
}
.svg_1 {
  top: 45px;
}
.svg_2 {
  color: var(--token-WpPBw5f93wEg);
  top: 45px;
}
.svg_3 {
  top: 45px;
}
.svg_4 {
  color: var(--token-WpPBw5f93wEg);
  top: 45px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg_4 {
    position: relative;
    left: auto;
    top: auto;
  }
}
