.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.hero {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 700px;
  background: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    height: 500px;
    flex-shrink: 0;
  }
}
.section {
  display: grid;
  position: absolute;
  align-content: center;
  justify-items: flex-end;
  width: 55%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-0VMIvMzXAOJQ);
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  height: 740px;
  left: 0;
  top: 0px;
  z-index: 1;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  margin: 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.columns {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 10;
  align-self: center;
  left: 0;
  top: 0;
  bottom: 0;
  column-gap: 0px;
  padding: 8px 80px 8px 64px;
}
.columns > :nth-child(2n + 1) {
  width: calc(100% * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc(100% * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 40px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc(100% * 12 / 12);
  }
}
.column__fMj1H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fMj1H {
    align-items: center;
    justify-content: center;
    background: var(--token-0VMIvMzXAOJQ);
    row-gap: 8px;
    column-gap: 0px;
    border-radius: 20px;
    padding: 20px;
  }
}
.freeBox__wZtBe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__m8M41 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  margin-right: 0px;
  min-width: 0;
  padding: 0px;
}
.tagline {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  font-size: 25px;
  padding-bottom: 0px;
  padding-right: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tagline {
    font-size: 18px;
    text-align: center;
    padding-right: 0px;
    width: 100%;
    font-weight: 700;
    min-width: 0;
  }
}
.tagline2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 45px;
  color: var(--token-lJvlCWpx5zk3);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tagline2 {
    font-size: 26px;
    text-align: center;
    font-weight: 700;
  }
}
.tagline4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  font-size: 25px;
  padding-bottom: 0px;
  padding-right: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tagline4 {
    font-size: 18px;
    text-align: center;
    padding-right: 0px;
    width: 100%;
    font-weight: 700;
    padding-top: 20px;
    min-width: 0;
    display: block;
  }
}
.freeBox__b6Amu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b6Amu {
    justify-content: center;
    align-items: center;
  }
}
.tagline3 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 25px;
  padding-bottom: 0px;
  padding-right: 7px;
  font-weight: 700;
  color: var(--token-AKeYDy8WJ4OA);
  text-align: left;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tagline3 {
    font-size: 18px;
    text-align: center;
    display: none;
  }
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 235px;
  flex-shrink: 0;
}
.sectionMenuSection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.column__iHa6R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iHa6R {
    display: none;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.img > picture > img {
  object-fit: cover;
}
