.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.link {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.itemMegaMenuItem:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.itemMegaMenuDropdown:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  transform: scaleX(1) scaleY(0) scaleZ(1) translateX(0px) translateY(-50%)
    translateZ(0px);
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  height: 0px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.itemMegaMenuDropdownopen:global(.__wab_instance) {
  transform: scaleX(1) scaleY(1) scaleZ(1) translateX(0px) translateY(0px)
    translateZ(0px);
  opacity: 1;
  height: auto;
}
.itemMegaMenuDropdownclosed:global(.__wab_instance) {
  opacity: 0;
  transform: translateX(0px) translateY(-50%) translateZ(0px) scaleX(1)
    scaleY(0) scaleZ(1);
  height: 0px;
  flex-shrink: 0;
}
