.tabset {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.tabset > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.tabset > :global(.__wab_flex-container) > *,
.tabset > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabset > :global(.__wab_flex-container) > picture > img,
.tabset
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.tabGroup {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  z-index: 1;
}
.tab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 0;
  padding: 20px;
}
.tab > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.tab > :global(.__wab_flex-container) > *,
.tab > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tab > :global(.__wab_flex-container) > picture > img,
.tab > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.cta {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 2px;
}
.cta > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.cta > :global(.__wab_flex-container) > *,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta > :global(.__wab_flex-container) > picture > img,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 5px;
}
.icon12X12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X12 > :global(.__wab_flex-container) > *,
.icon12X12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X12 > :global(.__wab_flex-container) > picture > img,
.icon12X12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__a0Ncd {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12.000000953674316px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__a0Ncd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__a0Ncd > :global(.__wab_flex-container) > *,
.svg__a0Ncd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__a0Ncd > :global(.__wab_flex-container) > picture > img,
.svg__a0Ncd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.navigationItem {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 142, 132, 1);
  position: relative;
  text-align: center;
  z-index: 3;
}
.navigationItemActive {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: var(--token-py5R6wetCsNw);
  position: relative;
  text-align: center;
  z-index: 3;
}
.icon12X122 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X122 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X122 > :global(.__wab_flex-container) > *,
.icon12X122 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X122 > :global(.__wab_flex-container) > picture > img,
.icon12X122
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__tkstD {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__tkstD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__tkstD > :global(.__wab_flex-container) > *,
.svg__tkstD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__tkstD > :global(.__wab_flex-container) > picture > img,
.svg__tkstD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.activeStyleBg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -20px;
  z-index: 1;
  right: 0;
  flex-shrink: 0;
  background: var(--token-qlu48Znff4s0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 0;
  min-height: 0;
}
.underTab {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0px;
  top: 37px;
  z-index: 99;
  flex-shrink: 0;
  background: none;
  min-width: 0;
}
.embedHtml__mSfMb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 3px;
  min-width: 0;
}
.underTab2 {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0px;
  top: 0px;
  z-index: 4;
  flex-shrink: 0;
  background: none;
  min-width: 0;
}
.embedHtml__tbF2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: auto;
  height: 3px;
  right: 0;
  bottom: -57px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.embedHtml__mFYhZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
