.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__zvCPt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1320px;
  min-width: 0;
  padding: 0px;
}
.section10 {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
  min-width: 0;
}
.section10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.section10 > :global(.__wab_flex-container) > *,
.section10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section10 > :global(.__wab_flex-container) > picture > img,
.section10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .section10 {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.frame2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.frame2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame2 > :global(.__wab_flex-container) > *,
.frame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2 > :global(.__wab_flex-container) > picture > img,
.frame2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.itemSectionTitleDescriptionItem:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .itemSectionTitleDescriptionItem:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.frame4 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.frame4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame4 > :global(.__wab_flex-container) > *,
.frame4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4 > :global(.__wab_flex-container) > picture > img,
.frame4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.columns__yhaLl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__yhaLl > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.columns__yhaLl > :global(.__wab_flex-container) > *,
.columns__yhaLl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__yhaLl > :global(.__wab_flex-container) > picture > img,
.columns__yhaLl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.columns__yhaLl > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__yhaLl > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__yhaLl > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yhaLl {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yhaLl > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yhaLl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__glO8J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.itemExternalLinkCardItem__u5EqJ:global(.__wab_instance) {
  max-width: 100%;
}
.column___4IyPy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.itemExternalLinkCardItem__dQ4IC:global(.__wab_instance) {
  max-width: 100%;
}
.column___1MItR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.itemExternalLinkCardItem__nacUl:global(.__wab_instance) {
  max-width: 100%;
}
.column___9NWrO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.itemExternalLinkCardItem__ywiL8:global(.__wab_instance) {
  max-width: 100%;
}
.column__ugsrT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.itemExternalLinkCardItem__f3DN2:global(.__wab_instance) {
  max-width: 100%;
}
.column___7Nqdr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.itemExternalLinkCardItem__ubCw:global(.__wab_instance) {
  max-width: 100%;
}
.calloutBar {
  background: rgba(244, 244, 235, 1);
  width: 1320px;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
}
.calloutBar > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.calloutBar > :global(.__wab_flex-container) > *,
.calloutBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.calloutBar > :global(.__wab_flex-container) > picture > img,
.calloutBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 1440px) {
  .calloutBar {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1440px) {
  .calloutBar > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text {
  display: block;
  font-size: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
}
.freeBox__hnpaT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-top: 1px solid var(--token-dhz6eQ3B9RE7);
  border-bottom: 1px solid var(--token-dhz6eQ3B9RE7);
}
.columns__qByit {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__qByit > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__qByit > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__qByit > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__qByit > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qByit {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qByit > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gaUsS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-right: 1px solid var(--token-dhz6eQ3B9RE7);
  border-bottom: 1px solid var(--token-dhz6eQ3B9RE7);
}
.itemCalloutItem__vbNE:global(.__wab_instance) {
  max-width: 100%;
}
.column__jw77J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-right: 1px solid var(--token-dhz6eQ3B9RE7);
  border-bottom: 1px solid var(--token-dhz6eQ3B9RE7);
}
.itemCalloutItem__nWTs5:global(.__wab_instance) {
  max-width: 100%;
}
.column__uhdu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-right: 1px solid var(--token-dhz6eQ3B9RE7);
  border-bottom: 1px solid var(--token-dhz6eQ3B9RE7);
}
.itemCalloutItem___3HGo9:global(.__wab_instance) {
  max-width: 100%;
}
.column__zOIcY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-bottom: 1px solid var(--token-dhz6eQ3B9RE7);
}
.itemCalloutItem__zQbth:global(.__wab_instance) {
  max-width: 100%;
}
.columns__bNcsV {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__bNcsV > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__bNcsV > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__bNcsV > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__bNcsV > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bNcsV {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bNcsV > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ntqNp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-right: 1px solid var(--token-dhz6eQ3B9RE7);
}
.itemCalloutItem__ypcOt:global(.__wab_instance) {
  max-width: 100%;
}
.column__wAMa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-right: 1px solid var(--token-dhz6eQ3B9RE7);
}
.itemCalloutItem__oVla:global(.__wab_instance) {
  max-width: 100%;
}
.column__j0Qn6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-right: 1px solid var(--token-dhz6eQ3B9RE7);
}
.itemCalloutItem__iJToE:global(.__wab_instance) {
  max-width: 100%;
}
.column__i2ID {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.itemCalloutItem__snu8P:global(.__wab_instance) {
  max-width: 100%;
}
