.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  row-gap: 30px;
  min-width: 0;
}
.h3 {
  display: block;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
}
.column {
  background: url("/plasmic/assh_home/images/column6.png") center center / cover no-repeat;
  height: 236px;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}
.description {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(49, 51, 55, 1);
  align-self: stretch;
  position: relative;
}
.buttonPrimary:global(.__wab_instance) {
  max-width: 100%;
}
