.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  justify-self: flex-start;
}
.rootfullWidthBlueInteractions_brandBlue {
  width: 100%;
  min-width: 0;
}
.rootfullWidthBlueInteractions_hover {
  width: 100%;
  min-width: 0;
}
.rootmegaMenuLink_unnamedVariant {
  align-items: flex-start;
  justify-content: center;
}
.buttonHighlight2 {
  background: var(--token-Hivuri5dcJVd);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 4px;
  padding: 15px;
}
.buttonHighlight2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.buttonHighlight2 > :global(.__wab_flex-container) > *,
.buttonHighlight2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonHighlight2 > :global(.__wab_flex-container) > picture > img,
.buttonHighlight2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.buttonHighlight2darkInteractions_dark {
  background: var(--token-TYi5l69jClib);
}
.buttonHighlight2darkInteractions_hover {
  background: var(--token-su3a1cgfgi_y);
}
.buttonHighlight2fullWidthBlueInteractions_brandBlue {
  width: 100%;
  min-width: 0;
}
.buttonHighlight2fullWidthBlueInteractions_brandBlue
  > :global(.__wab_flex-container) {
  min-width: 0;
}
.buttonHighlight2fullWidthBlueInteractions_hover {
  width: 100%;
  background: var(--token-nOBcGT_YRXnw);
  min-width: 0;
}
.buttonHighlight2fullWidthBlueInteractions_hover
  > :global(.__wab_flex-container) {
  min-width: 0;
}
.buttonHighlight2textArrowButton_link {
  background: none;
  padding: 0px;
}
.buttonHighlight2textArrowButton_hover {
  background: none;
  padding: 0px;
}
.buttonHighlight2secondaryInteractions_secondary {
  background: var(--token-YOr-x91EUcQe);
}
.buttonHighlight2darkNoBgInteractions_unnamedVariant {
  background: #2e577400;
  border: 1px solid var(--token-TYi5l69jClib);
}
.buttonHighlight2darkNoBgInteractions_hover {
  background: var(--token-su3a1cgfgi_y);
}
.buttonHighlight2megaMenuLink_unnamedVariant {
  text-align: left;
  background: #ffffff00;
}
.buttonHighlight2megaMenuLink_unnamedVariant > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
}
.buttonHighlight2megaMenuLink_unnamedVariant2 {
  background: #ffffff00;
}
.root:hover .buttonHighlight2 {
  background: var(--token-nOBcGT_YRXnw);
}
.icon12X12 {
  width: auto;
  height: auto;
  position: relative;
  flex-direction: row;
  display: none;
}
.icon12X12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X12 > :global(.__wab_flex-container) > *,
.icon12X12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X12 > :global(.__wab_flex-container) > picture > img,
.icon12X12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.icon12X12megaMenuLink_unnamedVariant {
  display: flex;
}
.svg__gs5Cp {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 12px;
  height: 12.000000953674316px;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  display: none;
}
.svg__gs5Cp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__gs5Cp > :global(.__wab_flex-container) > *,
.svg__gs5Cp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__gs5Cp > :global(.__wab_flex-container) > picture > img,
.svg__gs5Cp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svgfullWidthBlueInteractions_brandBlue__gs5CpudmXr {
  display: flex;
}
.text2 {
  display: block;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  width: auto;
  flex-grow: 1;
  flex-shrink: 0;
}
.text2darkInteractions_dark {
  color: var(--token-py5R6wetCsNw);
  display: block;
}
.text2darkInteractions_hover {
  color: var(--token-py5R6wetCsNw);
}
.text2fullWidthBlueInteractions_brandBlue {
  text-align: center;
}
.text2fullWidthBlueInteractions_hover {
  text-align: center;
}
.text2textArrowButton_link {
  display: none;
}
.text2textArrowButton_hover {
  font-size: 16px;
  color: var(--token-py5R6wetCsNw);
}
.text2secondaryInteractions_secondary {
  font-weight: 400;
  font-size: 18px;
}
.text2secondaryInteractions_hover {
  font-weight: 400;
  font-size: 18px;
}
.text2darkNoBgInteractions_hover {
  color: var(--token-H7ML1IxERkQO);
}
.text2megaMenuLink_unnamedVariant {
  color: var(--token-H7ML1IxERkQO);
  font-weight: 500;
  font-size: 18px;
}
.text2megaMenuLink_unnamedVariant2 {
  color: var(--token-YOr-x91EUcQe);
  font-weight: 500;
  font-size: 18px;
}
.icon12X125 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X125 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X125 > :global(.__wab_flex-container) > *,
.icon12X125 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X125 > :global(.__wab_flex-container) > picture > img,
.icon12X125
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__bsMdx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-py5R6wetCsNw);
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__bsMdx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__bsMdx > :global(.__wab_flex-container) > *,
.svg__bsMdx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__bsMdx > :global(.__wab_flex-container) > picture > img,
.svg__bsMdx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.navItemSimple {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
}
.navItemSimple > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.navItemSimple > :global(.__wab_flex-container) > *,
.navItemSimple > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navItemSimple > :global(.__wab_flex-container) > picture > img,
.navItemSimple
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.icon12X123 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X123 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X123 > :global(.__wab_flex-container) > *,
.icon12X123 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X123 > :global(.__wab_flex-container) > picture > img,
.icon12X123
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__b3Ibr {
  object-fit: cover;
  max-width: 100%;
  color: #008e84;
  width: 12px;
  height: 12.000000953674316px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__b3Ibr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__b3Ibr > :global(.__wab_flex-container) > *,
.svg__b3Ibr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__b3Ibr > :global(.__wab_flex-container) > picture > img,
.svg__b3Ibr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.navigationItem2 {
  display: block;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: var(--token-YOr-x91EUcQe);
  position: relative;
}
.icon12X124 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X124 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X124 > :global(.__wab_flex-container) > *,
.icon12X124 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X124 > :global(.__wab_flex-container) > picture > img,
.icon12X124
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__bmUtj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-YOr-x91EUcQe);
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__bmUtj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__bmUtj > :global(.__wab_flex-container) > *,
.svg__bmUtj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__bmUtj > :global(.__wab_flex-container) > picture > img,
.svg__bmUtj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.icon12X122 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon12X122 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon12X122 > :global(.__wab_flex-container) > *,
.icon12X122 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon12X122 > :global(.__wab_flex-container) > picture > img,
.icon12X122
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__zDfRv {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 12px;
  height: 12px;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  display: none;
}
.svg__zDfRv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.svg__zDfRv > :global(.__wab_flex-container) > *,
.svg__zDfRv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__zDfRv > :global(.__wab_flex-container) > picture > img,
.svg__zDfRv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svgfullWidthBlueInteractions_brandBlue__zDfRvudmXr {
  display: flex;
}
