.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-Xe8lteZ1g5Sn);
  font-size: var(--token-qf646Y0_UpwA);
  line-height: var(--token-Y-b2LrU_Kywe);
  width: 100%;
  color: var(--token-H7ML1IxERkQO);
  font-family: var(--token-yFefbd9pktQO);
  min-width: 0;
  border-radius: var(--token-SHYrfqQuFlWP);
  padding: var(--token-SHYrfqQuFlWP) var(--token-mj_AjoGEZNER);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token--2PVOQbeQHjD);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-P5YvYNwQ1m-E);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-pL_SCUeaImzE);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-P5YvYNwQ1m-E);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-udDx6ounMwJX);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-udDx6ounMwJX);
}
